{% extends 'base.html' %}
{% load static %}
{% block content %}

                <main class="mt-100 mb-100">
                   <div class="container">
                    <h1>Coupons</h1>
                   </div>
                   
                
                    <div class="container mt-100 mb-100">
                       
                    
                      
                      


                        <div class="row">
                            
                            <div class="col-md-6">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        <h5>UPDATE COUPON</h5>
                                        
                                        {% for i in coupon_ %}
                                        <form method="POST" action="{% url 'update_Coupon' %}">
                                        {% csrf_token %}
                                            <div class="input-group mb-3">
                                               
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Coupon Name</label>
                                            <input class="form-control" id="exampleFormControlInput1" type="text" name='coupon_name' value="{{i.coupon_name}}">
                                        </div>
                                        </div>
                                        <div>
                                        <input type="hidden" name="couponid" value="{{i.id}}" >
                                        </div>
                                        <div class="input-group mb-3">
                                        <div class="form-group">
                                          <div>
                                            <label for="exampleFormControlInput1">Coupon</label>
                                            <input class="form-control" id="exampleFormControlInput1" type="number" name='coupon' value="{{i.coupon}}" >
                                        </div>
                                        <div class="form-group">
                                            <div>
                                              <label for="exampleFormControlInput1">Flat Value</label>
                                              <input class="form-control" id="exampleFormControlInput1" type="number" name='flat_value' value="{{i.flat_value}}" >
                                          </div>
                                           </div>
                                            </div>
                                            <button class="btn btn-primary" type="submit">Submit</button>
                                        </form>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                          
                    </div>
                </main>
               
{% endblock %}