{% extends 'base.html' %}
{% load static %}
{% block content %}

                <main class="mt-100 mb-100">
                   <div class="container">
                    <h1>Coupons</h1>
                   </div>
                   
                
                    <div class="container mt-100 mb-100">
                       
                    
                      
                      


                        <div class="row">
                            
                            <div class="col-md-6">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        <h5 class="p-2 ">ADD COUPON</h5>
                                        

                                        <form method="POST" action="#" id="couponform">{% csrf_token %}
                                            <div class="input-group mb-3 p-2">
                                               
                                        <div class="form-group ">
                                            <label for="exampleFormControlInput1">Coupon Name</label>
                                            <input class="form-control" id="exampleFormControlInput1" type="text" name='coupon_name' >
                                        </div>
                                        </div>
                                        <div class="input-group mb-3 p-2">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Coupon</label>
                                            <input class="form-control" id="exampleFormControlInput1" type="number" name='coupon' >
                                        </div>
                                        <div class="input-group mb-3 p-2">
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">Flat Value</label>
                                                <input class="form-control" id="exampleFormControlInput1" type="number" name='flat_value'  >
                                            </div>
                                        
                                           
                                            </div>
                                        </form>
                                        <button class="btn btn-primary" type="submit" form="couponform">Add</button>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href= "{% url 'listCoupon' %}"><button class="btn btn-primary" type="submit">Back</button></a>
    
                                    </div>
                                </div>
                            </div>
                          
                    </div>
                </main>
               
{% endblock %}