{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    
    .btns{
        backface-visibility: hidden;
        border: hidden;
    }
    .page{
        float: right;
    }
    .button{
        border: hidden;
        backface-visibility: hidden;
        color: #fff;
    background-color: #0061f2;
    border-color: #0061f2;
    cursor: pointer;
    border-radius: 0.35rem;
        
    }
    .reset{
        padding-right: 10px;
        padding-top: 10px;
        
        position:absolute;
   top: 0;
   right:0;
    }
        
</style>
<style>
    .previous{
        padding: 10px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 20px;
    }
    .paginate_button{
        padding: 10px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    }
    .next{
        padding: 10px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 20px;
    }
   .dataTables_paginate{
        margin-bottom: 10px !important;
    }
    .paging_simple_numbers{
        margin-top: -25px !important;
    }
</style>
                <main class="mt-100 mb-100">
                   <div class="container">
                    <h1>Order</h1>
                   </div>
                        <div class="col-md-12">
                            <div class="card">
                        <div class="card-body">
                            <h5>ORDERS LIST</h5>
                            <div class="row">
                                <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'ordersearch' %}">
                                    {% csrf_token %}
                            <div class="form-group">
                                &nbsp;&nbsp;&nbsp;<h7><b>Start Date</b></h7>&nbsp;&nbsp;<input class="" id="search" name="startingdate" type="date" placeholder="Start Invoice date" size="600">
                                &nbsp;&nbsp;&nbsp;<h7><b>End Date</b></h7>&nbsp;&nbsp;&nbsp;<input class="" id="search" name="endingdate" type="date" placeholder="End Invoice date"size="10" >
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<select class="" id="" name="status">
                                    <option value="" >Status</option>
                                    <option value="Ordered">Ordered</option>
                                    <option value="Accepted">Accepted</option>
                                    <option value="Completed">Completed</option>
                                    <option value="Order Cancel">Order Cancel</option>
                                    <option value="Customer Cancel"> Customer Cancel</option>
                                    <option value="Delivered"> Delivered</option>
                                    <option value="Added to Cart"> Added to Cart</option>
                                    <option value="Out of Delivery"> Out of Delivery</option>
                                    <option value="Refund Initiated"> Refund Initiated</option>
                                    <option value="Return And exchange"> Return And exchange</option>
                                    </select>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="" id="" name="customer_name" placeholder="Customer Id">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-primary" type="submit">Search</button>                                                
                            </div>
                                </form>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class=""><a href= "{% url 'listOrders' %}"><button class="btn btn-primary" type="submit">Reset</button></a></div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="table-responsive">
                                        <table id="table1">
                                        <thead>
                                            <tr>
                                                <th>Order Id</th>
                                                <th>Order date</th>
                                                <th>Order Total</th>
                                                <th>Payment Method</th>
                                                <th>Payment Status</th>
                                                <th>Delivery Date</th>
                                                <th>Status</th>
                                                <th>Customer </th>
                                                <th>Update</th>
                                            </tr>
                                        </thead>
                                        {% for order in response %}
                                        <tr>
                                                        <td>{{order.id}}</td>
                                                        <td>{{order.order_date|date:'Y-m-d'}}</td>
                                                        <td>{{order.order_total}}</td>
                                                        <td>{{order.payment_method}}</td>
                                                        <td>{{order.payment_status}}</td>
                                                        <td>{{order.delivery_date |date:'Y-m-d'}}</td>
                                                        <td>{{order.status}}</td>
                                                        <td>{{order.user.id}}</td>
                                                        <td>
                                                            <button class="btns"><a href="{% url 'update_order' order.id %}"><i class="far fa-edit" type="submit"></i></button>
                                                        </td>
                                        </tr>
                                        {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                    </div>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
                    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" defer></script>
                    <script>
                        $(document).ready(function () {
                            $('#table1').DataTable({
                                "lengthChange": false,
                                "pageLength": 10,
                                "ordering":false,
                                "searching":false,
                            });
                        });
                    </script> 
                </main>
                
               
{% endblock %}
