{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .add {
        cursor: pointer;
    }
     .col1 {
      column-count: 3;
      column-gap: 50px;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

                <main class="mt-100 mb-100">
                   <div class="container">
                    <h1>Order</h1>
                   </div>
                   
                
                    <div class="container mt-100 mb-100">
                       
                        <div class="row">
                            
                            <div class="col-md-8">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        <h5>Update Order</h5>
                                        
                                        {% for i in order %}
                                        <form method="POST" action="{% url 'updateOrders' %}" id="orderForm">
                                        {% csrf_token %}
                                            <div class="">
                                                <div class="col1">
                                                  <div class="">
                                            <label for="exampleFormControlInput1">Order Total</label>
                                            <input class="form-control" id="exampleFormControlInput1" type="text" name='order_total' value="{{i.order_total}}" >
                                        </div>
                                        <div class="">
                                        <div class="">
                                            <label for="exampleFormControlInput1">Payment Method</label>
                                            
                                            <input class="form-control" id="exampleFormControlInput1" type="text"  name='payment_method' value="{{i.payment_method}}" >
                                            
                                        </div>
                                        </div>
                                        <input type="hidden" value="{{i.id}}" name="orderid" >
                                        <div>
                                        </div>
                                        <div class="">
                                        <div class="">
                                            <label for="exampleFormControlInput1">Status</label>
                                           <select class="form-control" id="exampleFormControlSelect1" name='status' >
                                           </option> Mobile_Banner1_Slider1</option>
                                                        <option > Completed</option>
                                                        <option > Ordered</option>
                                                        <option > Accepted</option>
                                                        <option > Order Cancel</option>
                                                        <option > Customer Cancel</option>
                                                        <option > Delivered</option>
                                                        <option> Added to Cart</option>
                                                        <option> Out of Delivery</option>
                                                        <option> Refund Initiated</option>
                                                        <option> Return And exchange</option>
                                                </select>
                                            </div>
                                        </div>
                                            </div>
                                            <div class="">
                                                <div class="col1">
                                                <div class="">
                                                        </div>
                                                <div class="">
                                                <div class="">
                                                    <label for="exampleFormControlInput1">Delivery Date</label>
                                                            <input class="form-control" id="exampleFormControlInput1" type="text"  name='delivery_date' value="{{i.delivery_date |date:'Y-m-d'}}"  >
                                                </div>
                                                </div>
                                                <input type="hidden" value="{{i.id}}" name="orderid" >
                                                <div>
                                                </div>
                                                <div class="">
                                                <div class="">
                                                    <label for="exampleFormControlInput1">Order Date</label>
                                                    <input class="form-control" id="exampleFormControlInput1" type="text"  name='order_date' value="{{i.order_date |date:'Y-m-d'}}" >
                                                </div>
                                            </div>
                                            </div>
                                            <div class="">
                                                <div class="col1">
                                                <div class="">
                                                    <label for="exampleFormControlInput1">Is Deliverd</label>
                                                    <select class="form-control" id="exampleFormControlSelect1" name='Is_delivered' >
                                                        {% if i.Is_delivered == False %}<option value="No"> No</option>{% elif i.Is_delivered == True %}<option value="Yes"> Yes</option>{% else %}<option value="None" > Unknown</option> {% endif %}
                                                    <option value="None" > Unknown</option> 
                                                        <option value="Yes"> Yes</option>
                                                        <option value="No"> No</option>
                                                    </select>
                                                        </div>
                                                <div class="">
                                                <div class="">
                                                    <label for="exampleFormControlInput1">Payment Status</label>
                                                <select class="form-control" id="exampleFormControlSelect1" name='payment_status' >
                                                    {% if i.payment_status == False %}<option value="No"> No</option>{% elif i.payment_status == True %}<option value="Yes"> Yes</option>{% else %}<option value="None" > Unknown</option> {% endif %}
                                                <option value="None" > Unknown</option> 
                                                    <option value="Yes"> Yes</option>
                                                    <option value="No"> No</option>
                                                </select>
                                                </div>
                                                </div>
                                                <input type="hidden" value="{{i.id}}" name="orderid" >
                                                <div>
                                                </div>
                                                <div class="">
                                                <div class="">
                                                   
                                                </div>
                                            </div>
                                            </div>
                                            <div class="input-group mb-3">
                                            <div class="form-group">
                                              
                                            </div>
                                        </div>
                                        <div id="appending_div">
                                            <div id="div">
                                                Select Orderdetails : <select 
                                                name='combination_id[]'>
                                                <option value="0">---select---</option>
                                                {% for j in details %}
                                                   <option value="{{j.id}}">{{j.orderDetails_id}}</option>
                                                   {% endfor %}
                                                </select>
                                             &nbsp;Courier :  <select 
                                             name='combination_id1[]'>
                                             <option value="0">---select---</option>
                                             {% for j in courier %}
                                                <option value="{{j.id}}" >{{j.name}}</option>
                                                {% endfor %}
                                             </select>
                                            </div>
                                            </div>
                                        </form>
                                        </div>
                                        &nbsp;&nbsp;&nbsp;<button id="add" class="btn btn-primary"><i class="fa fa-plus-circle" type="submit"></i></button>
                                        <br><br>
                                       
                                        <button class="btn btn-primary" type="submit" value="save" form="orderForm">Update</button>
                                    </div>
                                        </div>
                                        </div>
                                        </div>
                                        
                                        <br><br>
                                        <div class="row">
                                        </div>
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <script type="text/javascript"> 
                                $(document).ready(function() {
                                    var i = 1;
                                    $('#add').on('click',  function() {
                                    var field = '<br><div>Select Orderdetails : <select  name="combination_id[]"> <option >---select---</option>{% for  j in details %}<option value="{{j.id}}">{{j.orderDetails_id}}{% endfor %}</option></select>&nbsp; Courier :  <select  name="combination_id1[]"> <option >---select---</option>{% for  j in courier %}<option value="{{j.id}}">{{j.name}}{% endfor %}</option></select>&nbsp;&nbsp;<button class="delete"><i class="fa fa-minus-circle" aria-hidden="true"></i></button></div>';
                                    $('#appending_div').append(field);
                                    i = i+1;   
                                    })                                
                                    })
                                    $('#appending_div').on("click", ".delete", function(e) {
                                            e.preventDefault();
                                            $(this).parent('div').remove();
                                            
                                        })
                            </script>
                            
                </main>
                
               
{% endblock %}