{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .col1 {
      column-count: 2;
      column-gap: 80px;
    }
    .star{
       color:red;
       
    }
</style>
                <main class="mt-100 mb-100">
                   <div class="container">
                    <h1>Courier</h1>
                    <a href= "{% url 'listCourier' %}"><button class="btn btn-primary" type="submit">Courier List</button></a>
                   </div>
                   
                
                    <div class="container mt-100 mb-100">
                  

                        <div class="row">
                            
                            <div class="col-md-7">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        <h5>UPDATE COURIER</h5>
                                        
                                        <form method="POST" action="{% url 'updateCourier' courierid=courier.id %}" enctype="multipart/form-data">{% csrf_token %}
                                        
                                       <div class="col1">
                                            <div class="col-md-9">
                                            <label for="exampleFormControlInput1">Courier Name</label>
                                            <input class="" id="exampleFormControlInput1" type="text" name='name' value="{{courier.name}}" >
                                            </div>
                                            <div class="col-md-5">
                                            <label for="exampleFormControlInput1">Address</label>
                                            
                                            <input class="" id="exampleFormControlInput1" type="text"  name='address' value="{{courier.address}}">
                                            </div>
                                       </div>    
                                       <div class="col1">
                                            <div class="col-md-7">
                                            <label for="exampleFormControlInput1"><span>Phone Number<sup class="star">*</sup> </span></label>
                                            <input class="" id="exampleFormControlInput1" type="number"  oninput="this.value = Math.abs(this.value)" name='phone' min="1" value="{{courier.phone}}" required>
                                            </div>
                                       
                                            <div class="col-md-5">
                                            <label for="exampleFormControlInput1">City</label>
                                            <input class="" id="exampleFormControlInput1" type="text"  name='city' value="{{courier.city}}">
                                            </div>
                                        </div>
                                        <div class="col1">
                                            <div class="col-md-5">
                                            <label for="exampleFormControlInput1">Postcode</label>
                                            <input class="" id="exampleFormControlInput1" type="number" min="1" oninput="this.value = Math.abs(this.value)" name='postcode' value="{{courier.postcode}}"  >
                                            </div>
                                            <div class="col-md-5">
                                            <label for="exampleFormControlInput1">Website url</label>
                                            <input class="" id="exampleFormControlInput1" type="url" placeholder="https://example.com"
                                            pattern="https://.*"  name='website_url' value="{{courier.website_url}}" >
                                            </div>
                                        </div>
                                        
                                         <br>
                                        <input type ="hidden" name="courierid" value="{{i.id}}">
                                        <button class="btn btn-primary" type="submit">Update</button>
                                        <div class="form-group">
                                          
                                           

                                        </div>
                                    
                                    </div>
                                </div>
                            </form>
                            </div>
                        
                        
                           
                        
                        </div>
                    </div>
                </main>
               
 {% endblock %}