{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .previous{
        padding: 10px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 20px;
    }
    .paginate_button{
        padding: 10px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    }
    .next{
        padding: 10px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 20px;
    }
   .dataTables_paginate{
        margin-bottom: 10px !important;
    }
    .paging_simple_numbers{
        margin-top: -25px !important;
    }
</style>

                <main class="mt-100 mb-100">
                   <div class="container">
                    <h1>Dress wear chart</h1>
                   </div>                
                   <div class="container mt-100 mb-100">
                    <div class="row">                  
                        <div class="col-md-8">
                            <div class="card">
                                    <div class="card-body">
                                        <h5>Add Dress wear  Chart</h5>
                                        <form method="POST" action="{% url 'addDresschart' %}" enctype="multipart/form-data" id="dressform">
                                            {% csrf_token %}

                                             <div class="form-group">
                                                <label for="exampleFormControlInput1">Country</label>
                                                <input class="form-control" id="exampleFormControlInput1" type="text" name='country' >
                                            </div>
                                             <div class="form-group">
                                                <label for="exampleFormControlInput1">Size</label>
                                                <input class="form-control" id="exampleFormControlInput1" type="text" name='size' >
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">Chest</label>
                                                <input class="form-control" id="exampleFormControlInput1" type="text" name='chest' >
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">Front Length</label>
                                                <input class="form-control" id="exampleFormControlInput1" type="text" name='front_length' >
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">Across Shoulder</label>
                                                <input class="form-control" id="exampleFormControlInput1" type="text" name='acrross_shoulder' >
                                            </div>
                                        </form>
                                            <button class="btn btn-primary" type="submit" form="dressform">Add</button>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href= "{% url 'listDresschart' %}"><button class="btn btn-primary" type="submit">Back</button></a>

                            

                                    </div>
                                </div>
                            </div>
                           
                            <div class="container mt-100 mb-100">
                                <div class="row">                  
                                   
                    </div>
                  </div>
                    
               
              
               </main>
{% endblock %}