{% extends 'base.html' %}
{% load static %}
{% block content %}
<style> 
    .star{
       color:red;
       
    }
    .col1 {
      column-count: 3;
      column-gap: 90px;
    }
    .col2 {
        column-count: 3;
        column-gap: 50px;
       
      
    }
    .col3 {
        column-count: 4;
        column-gap: 35%;
       
      
    }
    .pos1
    {
        position:absolute;  
        left:42%;
        top:60%;
    }
    .pos2
    {
        position:absolute;  
        left:70%;
        top:60%;
    }
    .pos3
    {
        position:absolute;  
        left:65%;
        top:64%;
    }
    </style>
                <main class="mt-100 mb-100">
                   <div class="container">
                    <h1>Product</h1>
                    <a href= "{% url 'listProduct' %}"><button class="btn btn-primary" type="submit">List Products</button></a>
                   </div>
                    <div class="container mt-100 mb-100">
                        <div class="row">
                            
                            <div class="col-md-12">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        <h5>ADD PRODUCT</h5>
                                        <form method="POST" action="{% url 'addProduct' %}" enctype="multipart/form-data">{% csrf_token %}
                                            <div class="col2">
                                                <div class="col-md-5">
                                                    <label for="exampleFormControlInput1"><span>Product Name  <sup class="star">*</sup> </span></label>
                                                    <input class="form-sub-label-container" id="explicit-block-txt"type="text" name='product_name' >
                                                </div>
                                                <div class="col-md-5 ">
                                                <label for="exampleFormControlInput1"><span>Category <sup class="star">*</sup> </span></label>
                                                <select   id="exampleFormControlSelect1" name='category' onchange="getResult(this.value)" required="True">
                                                    <option disabled >--- Select Category------</option>
                                                    <option>
                                                    {% for i in category %}
                                                            <option value="{{i.id}}"> {{i.category_name}}</option>
                                                    {% endfor %}
                                                </select>
                                                </div>
                                                <div class="col-md-5">
                                                    <label for="exampleFormControlInput1">Sub Category</label>
                                                    <select class="" id="subcategory" name='subcategory'  >
                                                        <option value=0>--- Select Subcategory------</option>
                                                    
                                                    
    
                                                </select>
                                                </div>
                                            </div>
                                        <br>
                                        <p>Add Product Image</p>
                                        <div class="col1">
                                        
                                            
                                            <label for="exampleFormControlInput1"><span>Image 1<sup class="star">*</sup> </span></label>
                                            <input class="form-sub-label-container"id="exampleFormControlInput1" type="file" name='product_image1' required>
                                        
                                        
                                            <label for="exampleFormControlInput1">Image 2</label>
                                            <input class="form-sub-label-container" id="exampleFormControlInput1" type="file" name='product_image2' >
                                         
                                         
                                            <label for="exampleFormControlInput1">Image 3</label>
                                            <input class="form-sub-label-container" id="exampleFormControlInput1" type="file"  name='product_image3'>
                                        </div> 
                                        <br>
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1"><span>Product Description<sup class="star">*</sup> </span></label>
                                            <textarea  class="form-control" id="exampleFormControlInput1" type="textarea"  name='product_description' required></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1"><span>Highlights<sup class="star">*</sup> </span></label>
                                            <textarea class="form-control" id="exampleFormControlInput1" type="textarea"  name='highlights' required></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1"><span>Return Policy<sup class="star">*</sup> </span></label>
                                            <textarea class="form-control" id="exampleFormControlInput1" type="textarea"  name='return_policy' required></textarea>
                                        </div>
                                        <br>
                                        <div class="col2">
                                            <div class="col-md-7">
                                            <label for="exampleFormControlInput1">Net Weight</label>
                                            <input   id="exampleFormControlInput1" type="number"   onkeypress="return event.charCode >= 48" min="1" name='Net_weight' >
                                            </div>
                                            <div class="col-md-7">
                                                <label for="exampleFormControlInput1">Unit</label>
                                                <select  id="exampleFormControlSelect1" name='units'>
                                                    <option value=0 >--- Select Unit------</option>
                                                    <option>
                                                    {% for i in unit %}
                                                            <option value="{{i.id}}"> {{i.units}}</option>
                                                    {% endfor %}
                                                </select>
                                                </div>
                                            <div class="col-md-7">
                                            <label for="exampleFormControlInput1">Brand Name</label>
                                            <input  id="exampleFormControlInput1"type="text"  name='brand_name'>
                                            </div>    
                                            
                                            
                                        </div>
                                        <br> 
                                        <br>
                                        <div class="col2">
                                            <div class=col-md-8>
                                                <label for="exampleFormControlInput1">Number Of Days Of Refund</label>
                                                <input  id="exampleFormControlInput1" type="number" onkeypress="return event.charCode >= 48" min="1" name='number_of_days_for_refund'  >
                                            </div>   
                                            <div class=col-md-7>
                                            <label for="exampleFormControlInput1">Delivery Charge</label>
                                            <input  id="exampleFormControlInput1"type="number" onkeypress="return event.charCode >= 48" min="1" name='delivery_charge' >
                                            </div>
                                            
                                            <div class=col-md-7>
                                            <label for="exampleFormControlInput1">Delivery Days</label>
                                            <input class="" id="exampleFormControlInput1"type="number"  onkeypress="return event.charCode >= 48" min="1" name='delivery_days' >
                                            </div>
                                        </div> 
                                        <br>
                                        <br>
                                        <div class="col2">
                                            <div class=col-md-5>
                                            <label for="exampleFormControlInput1">Banner 1</label>
                                            <input  id="exampleFormControlInput1"type="file"  name='banner1'>
                                            </div>
                                            <div class=col-md-5>
                                            <label for="exampleFormControlInput1">Banner 2</label>
                                            <input id="exampleFormControlInput1"type="file"  name='banner2'>
                                            </div>
                                            <div class=col-md-5> 
                                                <label for="exampleFormControlSelect1">Coupon Code</label>
                                                <select  cid="exampleFormControlSelect1" name='coupon_code'>
                                                    <option value='0' >--- Select Coupon------</option>
                                                    {% for i in coupon %}
                                                            <option value="{{i.id}}"> {{i.coupon_name}}</option>
                                                    {% endfor %}
                                                </select>
                                                </div>
                                        </div>
                                        <br>
                                        
                                        <div class="col3">
                                             <div class="col-md-3">                                         
                                            <label for="exampleFormControlInput1">Pincode</label>
                                            
                                            <select   name='pincode'id="exampleFormControlInput1" multiple>
                                                <option disabled >--- Select Pincode------</option>
                                                <option>
                                                {% for i in pincode %}
                                                        <option value="{{i.id}}"> {{i.pincode}}</option>
                                                {% endfor %}
                                            </select>
                                            </div> 
                                            
                                            
                                                  
                                            <div class="col-md-1"> 
                                            <label for="exampleFormControlInput1">Zones</label>  
                                            
                                            
                                            <select   name='zone'id="exampleFormControlInput1" multiple>
                                                    <option disabled >--- Select Zone------</option>
                                                    <option>
                                                    {% for i in zone %}
                                                            <option value="{{i.id}}"> {{i.zone_name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>    
                                        </div>
                                        <br>
                                        <br>   
                                        <div class="" >
                                            &nbsp;&nbsp;&nbsp;<label for="exampleFormControlInput1">Footwear Sizechart</label>
                                            &nbsp;&nbsp;&nbsp;<input  id="exampleFormControlInput1"type="checkbox"  name='footware_sizechart' >
                                            
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <label for="exampleFormControlInput1">Dresswear Sizechart</label>
                                            &nbsp;&nbsp;&nbsp;<input   id="exampleFormControlInput1"type="checkbox"  name='dress_sizechart'>
                                        </div>
                                        

                                        <br>
                                         
                                        
                                        <button class="btn btn-primary" type="submit">Next</button>
                                        <div class="form-group">
                                           
                                           

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </form>
                           
                           
                        </div>
                    </div>
                    <script type="text/javascript">
                        function getResult(value){
                          var searchValue = value
                            console.log(searchValue)
                          x = new XMLHttpRequest;
                      
                          x.open('GET','?category='+searchValue);
                          x.send();
                      
                          x.onreadystatechange = function() {
                              if (this.readyState == 4 && this.status == 200) {
                                  var c = document.getElementById('subcategory');
                                  c.innerHTML = x.response;
                                  console.log(c)
                              }
                      
                          }
                      
                        }
                      

                      </script>
                      <script>
                        document.getElementById("explicit-block-txt").onkeypress = function(e) {
                        var chr = String.fromCharCode(e.which);
                        if ("></\",.@!#$%^&*()_+-*;:'{}[]|`~?".indexOf(chr) >= 0)
                        {   
                            alert("Speical Characther Not Allowed !!!!");
                            return false;  
                        }
                        };
                    </script>
                   
                </main>
               
{% endblock %}