{% extends 'base.html' %}
{% load static %}
{% block content %}

<main class="mt-100 mb-100">
    <div class="container">
        <h1>Variation</h1>
        <a href= "{% url 'listProductVariations' %}"><button class="btn btn-primary" type="submit">Back</button></a>

    </div>

    <div class="container mt-100 mb-100">
        <div class="row">
            <div class="col-md-6">
                <div class="card">

                    <div class="card-body">
                        <h5>Add variation_name</h5>
                        <form method="POST" action="{% url 'addProductVariations' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Variation Name</label>
                                <input class="form-control" id="exampleFormControlInput1" type="text"
                                    name='variation_name'>
                            </div>
                            <button class="btn btn-primary" type="submit">Add</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    
                    <div class="card-body">
                        <h5>Add Variation Option Name</h5>
                <form method="POST" action="{% url 'addProductVariationsname' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Variation Name</label>
                        <select class="form-control" id="exampleFormControlSelect1" name='product_variation_id'>
                            <option value=''>--- Select -----</option>
                            {% for i in product_variations %}
                            <option value="{{i.id}}"> {{i.variation_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Variation Option Name</label>
                        <input class="form-control" id="explicit-block-txt" type="text"
                            name='variationOptionName'>
                    </div>
                    <button class="btn btn-primary" type="submit">Add</button>
                </form>
            </div>
            <br>

        </div>
    </div>

    <script>
        document.getElementById("explicit-block-txt").onkeypress = function(e) {
        var chr = String.fromCharCode(e.which);
        if ("></\",.@!#$%^&*()_+-*;:'{}[]|`~?".indexOf(chr) >= 0)
        {   
            alert("Comma seperated values are not allowed,add variation option name one by one.");
            return false;  
        }
        };
    </script>
        
</main>

{% endblock %}