{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .previous{
        padding: 10px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 20px;
    }
    .paginate_button{
        padding: 10px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    }
    .next{
        padding: 10px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 20px;
    }
   .dataTables_paginate{
        margin-bottom: 10px !important;
    }
    .paging_simple_numbers{
        margin-top: -25px !important;
    }
</style>

                <main class="mt-100 mb-100">
                   <div class="container">
                    <h1>Units</h1>
                   </div>
                   
                    <div class="container mt-100 mb-100">
                        <div class="row">                  
                            <div class="col-md-6">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        <h5>ADD UNITS</h5>
                                        <form method="POST" action="{% url 'addUnit' %}" enctype="multipart/form-data" id="unitform">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">Unit</label>
                                                <input class="form-control" id="exampleFormControlInput1" type="text" name='units' >
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">Unit Name</label>
                                                <input class="form-control" id="exampleFormControlInput1" type="text" name='unitname' >
                                            </div>
                                        </form>
                                            <button class="btn btn-primary" type="submit" form="unitform">Add</button>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href= "{% url 'listUnit' %}"><button class="btn btn-primary" type="submit">Back</button></a>

                            
                                    </div>
                                </div>
                            </div>
                            
                            <br>
                            
                            </div>
                            </div>
                            <div class="container mt-100 mb-100">
                                <div class="row">                  
                                   
                        </div>
                    </div>
                    <div class="modal fade" id="modal-default">
                  
                  
             </main>
               
{% endblock %}