{% extends 'base.html' %}
{% load static %}
{% block content %}
                <main class="mt-100 mb-100">
                   <div class="container">
                    <h1>Upload Multiple Images</h1>
                   </div>
                   
                
                    <div class="container mt-100 mb-100">

                            <form method="post" action="{% url 'imageupload' %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                    &nbsp;&nbsp;<input type="file" name="image" multiple/>
                                    <input type="submit" value="Upload Images" style="background-color:mediumseagreen">
                                </form>
                            <!-- <div class="col-md-6"> -->
                               
                    </div>
                </main>
               
{% endblock %}


