{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>

    #map {
   
       width: 100%;
   
       height: 400px;
   
       background-color: grey;
   
   }
   
   </style>
   <style>
    .previous{
        padding: 10px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 20px;
    }
    .paginate_button{
        padding: 10px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    }
    .next{
        padding: 10px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 20px;
    }
   .dataTables_paginate{
        margin-bottom: 10px !important;
    }
    .paging_simple_numbers{
        margin-top: -25px !important;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

   
    
                <main class="mt-100 mb-100">
                   <div class="container">
                    <h1>PINCODES</h1>
                   </div>
                    <div class="container mt-100 mb-100">
                        <div class="row">                  
                            <div class="col-md-6">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        <h5>ADD PINCODE</h5>
                                        <form method="POST" action="{% url 'addPincode' %}" enctype="multipart/form-data" id="pincodeform">
                                            {% csrf_token %} 
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">Pincode</label>
                                                <input class="form-control" id="exampleFormControlInput1" type="number" name='pincode' onkeypress="return event.charCode >= 48" min="1" pattern="[0-9]{4}" maxlength="6" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">Country</label>
                                                <!-- <input class="form-control" id="exampleFormControlInput1" type="text"  > -->
                                                <select id="country" class='form-control' name='country'><option value="">-- Country --</option></select>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">State</label>
                                                <!-- <input class="form-control" id="exampleFormControlInput1" type="text" name='state' > -->
                                                <select id="region" class='form-control' name='state'><option value="">-- State --</option></select>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">City</label>
                                                <!-- <input class="form-control" id="exampleFormControlInput1" type="text" name='city' > -->
                                                <select id="city" class='form-control' name='city'><option value="">-- City --</option></select>
                                            </div>
                                            
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">Delivery Within_days</label>
                                                <input class="form-control" id="exampleFormControlInput1" type="number" name='delivery_within_days' min="1" oninput="this.value = Math.abs(this.value)" >
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">Delivery Charge</label>
                                                <input class="form-control" id="exampleFormControlInput1" type="number" name='delivery_charge' min="1" oninput="this.value = Math.abs(this.value)">
                                            </div>
                                        </form>
                                    </form>
                                    <button class="btn btn-primary" type="submit" form="pincodeform">Add</button>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href= "{% url 'listPincode' %}"><button class="btn btn-primary" type="submit">Back</button></a>

                                    </div>
                                </div>
                            </div>
                           
                            <br>
                            </div>
                            </div>
                            <div class="container mt-100 mb-100">
                                <div class="row">                  
                                   
                        </div>
                    </div>
              
                    <script>
                        $(document).ready(function() {
                          var selectedCountry = (selectedRegion = selectedCity = "");
                          var BATTUTA_KEY = "836039ba0f13f8264b251218f6257cf2";
                          url =
                            "https://battuta.medunes.net/api/country/all/?key=" +
                            BATTUTA_KEY +
                            "&callback=?";
                          $.getJSON(url, function(data) {
                            console.log(data);
                            $.each(data, function(index, value) {
                              $("#country").append(
                                '<option value="' + value.code + '">' + value.name + "</option>"
                              );
                            });
                          });
                          $("#country").change(function() {
                            selectedCountry = this.options[this.selectedIndex].text;
                            countryCode = $("#country").val();
                            url =
                              "https://battuta.medunes.net/api/region/" +
                              countryCode +
                              "/all/?key=" +
                              BATTUTA_KEY +
                              "&callback=?";
                            $.getJSON(url, function(data) {
                              $("#region option").remove();
                              $.each(data, function(index, value) {
                                $("#region").append(
                                  '<option value="' + value.region + '">' + value.region + "</option>"
                                );
                              });
                            });
                          });
                          $("#region").on("change", function() {
                            selectedRegion = this.options[this.selectedIndex].text;
                            countryCode = $("#country").val();
                            region = $("#region").val();
                            url =
                              "https://battuta.medunes.net/api/city/" +
                              countryCode +
                              "/search/?region=" +
                              region +
                              "&key=" +
                              BATTUTA_KEY +
                              "&callback=?";
                            $.getJSON(url, function(data) {
                              console.log(data);
                              $("#city option").remove();
                              $.each(data, function(index, value) {
                                $("#city").append(
                                  '<option value="' + value.city + '">' + value.city + "</option>"
                                );
                              });
                            });
                          });
                          $("#city").on("change", function() {
                            selectedCity = this.options[this.selectedIndex].text;
                            $("#location").html(
                              "Locatation: Country: " +
                                selectedCountry +
                                ", Region: " +
                                selectedRegion +
                                ", City: " +
                                selectedCity
                            );
                          });
                        });                        
                        </script>

            
               
{% endblock %}