{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    .star{
       color:red;
       
    }
    .add {
        cursor: pointer;
    }
    .col3 {
        column-count: 5;
        column-gap: 2%;
       
      
    }
    
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<main class="mt-100 mb-100">
    <div class="container">
        <h1>Product</h1>
        <a href="{% url 'listProduct' %}"><button class="btn btn-primary" type="submit">List
                Products</button></a>
    </div>
    <div class="container mt-100 mb-100">
        <div class="row">

            <div class="col-md-12">
                <div class="card">

                    <div class="card-body">
                        <h5>ADD SKU</h5>
                        <form method="POST" action="{% url 'skudetails' productid=id %}" enctype="multipart/form-data" id="addForm">
                            {% csrf_token %}
                            
                            <div id="appending_div">
                               <div id="div">
                                <div class="col3" id=fod>
                                <div class ="col-md-9">
                                Product Variations : <select 
                                name='combination_id[]'style="width: 130px;">
                                <option value="0" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Optional</option>
                                {% for i in response1 %}
                                <option value="{{i.id}}" {% if i.id in vn %} hidden {% endif %} >
                                    {{i.product_variations_options_id.product_variation_id.variation_name}}--{{i.product_variations_options_id.variationOptionName}}
                                </option>
                                {% endfor %}
                                </select>
                                </div>
                                <div class ="col-md-11">
                                    Secondary Variations : <select 
                                    name='combination_id4[]' style="width: 158px;">
                                    <option value="0"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Optional</option>
                                    {% for i in response1 %}
                                    <option value="{{i.id}}" {% if i.id in vn %} hidden {% endif %} >
                                        {{i.product_variations_options_id.product_variation_id.variation_name}}--{{i.product_variations_options_id.variationOptionName}}
                                    </option>
                                    {% endfor %}
                                    </select>

                                </div>
                                
                                <div class ="col-md-5">
                                <span>Price : <sup class="star">*</sup> </span>  <input type="number" style="width: 80px;"  name='combination_id1[]' required>
                                </div>
                                <div class ="col-md-7">
                                <span>Sales Rate : <sup class="star">*</sup> </span> <input type="number" style="width: 80px;" name='combination_id2[]' required>
                                </div>
                                <div class ="col-md-7">
                                <span>Stock : <sup class="star">*</sup> </span>  <input type="number" style="width: 80px;" name='combination_id3[]' required>
                                </div>
                                
                                
                               </div>
                               
                               </div>
                            </div>
                        </form>
                        &nbsp;&nbsp;&nbsp;<button id="add" class="btn btn-primary"><i class="fa fa-plus-circle" type="submit"></i></button>
                            <br><br>
                        <div>
                            <button class="btn btn-primary" type="submit"  value="save"  form="addForm">Save</button>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'listProduct' %}"><button class="btn btn-primary" type="submit"  >Close</button></a>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                    
                        <script type="text/javascript"> 
                            $(document).ready(function() {
                                var i = 1;
                                $('#add').on('click',  function() {
                                var field = '<br><div><div class="col3" id=fod><div class ="col-md-9"> Product Variations : <select name="combination_id[]"style="width: 130px;"><option value="0" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Optional</option>{% for i in response1 %}<option value="{{i.id}}" {% if i.id in vn %} hidden {% endif %} >{{i.product_variations_options_id.product_variation_id.variation_name}}--{{i.product_variations_options_id.variationOptionName}}</option>{% endfor %}</select></div><div class ="col-md-11">Secondary Variations : <select name="combination_id4[]"style="width: 158px;"><option value="0" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Optional</option>{% for i in response1 %} <option value="{{i.id}}" {% if i.id in vn %} hidden {% endif %} >{{i.product_variations_options_id.product_variation_id.variation_name}}--{{i.product_variations_options_id.variationOptionName}}</option> {% endfor %}</select></div><div class ="col-md-6"> <span>Price : <sup class="star">*</sup> </span>  <input type="number" style="width: 80px;"  name="combination_id1[]" required></div><div class ="col-md-8"><span>Sales Rate : <sup class="star">*</sup> </span> <input type="number" style="width: 80px;" name="combination_id2[]" required></div><div class ="col-md-6"><span>Stock : <sup class="star">*</sup> </span>  <input type="number" style="width: 80px;" name="combination_id3[]" required></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="delete"><i class="fa fa-minus-circle" aria-hidden="true"></i></button>';
                                $('#appending_div').append(field);
                                i = i+1;   
                                })                                
                                })
                                $('#appending_div').on("click", ".delete", function(e) {
                                        e.preventDefault();
                                        $(this).parent('div').remove();
                                        
                                    })
                        </script>
                        
                         
                        
                    </main>
{% endblock %}