{% extends 'base.html' %}
{% load static %}
{% block content %}

                <main class="mt-100 mb-100">
                   <div class="container">
                    <h1>Units</h1>
                   </div>
                    <div class="container mt-100 mb-100">
                        <div class="row">                  
                            <div class="col-md-6">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        <h5>Update UNITS</h5>
                                        {% for i in unit %}
                                        <form method="POST" action="{% url 'update_unit' %}" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">Unit</label>
                                                <input class="form-control" id="exampleFormControlInput1" type="text" name='units' value={{i.units}}>
                                            </div>
                                             <div class="form-group">
                                                <label for="exampleFormControlInput1">Unit Name</label>
                                                <input class="form-control" id="exampleFormControlInput1" type="text" name='unitname' value={{i.unitname}}>
                                            </div>
                                            <input type ="hidden" name="unitid" value="{{i.id}}">
                                            <button class="btn btn-primary" type="submit">Update</button>
                            </form>
                            {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <br>
                            
                            </div>
                            </div>
                            
                        </div>
                    </div>
                
             </main>
               
{% endblock %}