{% extends 'base.html' %}
{% load static %}
{% block content %}

                <main class="mt-100 mb-100">
                   <div class="container">
                    <h1>Production Variation</h1>
                    <a href= "{% url 'addProductVariations' %}"><button class="btn btn-primary" type="submit">Back</button></a>

                   </div>
                   
                    <div class="container mt-100 mb-100">
                        <div class="row">                  
                            <div class="col-md-6">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        <h5>Update variation_name</h5>
                                        {% for i in  pv %}
                                        <form method="POST" action="{% url 'update_ProductVariations' %}" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">variation_name</label>
                                                <input class="form-control" id="exampleFormControlInput1" type="text" name='variation_name' value={{i.variation_name}} >
                                            </div>
                                            <input type ="hidden" name="pvid" value="{{i.id}}">
                                            <button class="btn btn-primary" type="submit">Update</button>
                                        </form>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <br>
                            
                            </div>
                            </div>
                            <div class="container mt-100 mb-100">
                                <div class="row">                  
                                    <div class="col-md-6">
                                        <div class="card">
                                            
                                            <div class="card-body">
                                                <h5>Update variation_options_name</h5>
                                                {% for i in  pvn %}
                                                <form method="POST" action="{% url 'update_ProductVariationsname' %}" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <div class="form-group">
                                                        <label for="exampleFormControlInput1">variation_name</label>
                                                        <select class="form-control" id="exampleFormControlSelect1" name='product_variation_id'>
                                                            <option value='' >--- Select -----</option>
                                                            {% for i in product_variations %}
                                                                    <option value="{{i.id}}" {% if i.id == ids %} selected {% endif %}> {{i.variation_name}}</option>
                                                            {% endfor %}
                                                        </select>
                                                        <!-- <input class="form-control" id="exampleFormControlInput1" type="text" name='variation_name' value={{i.variation_name}} > -->
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleFormControlInput1">variation_option_name</label>
                                                        
                                                        <input class="form-control" id="exampleFormControlInput1" type="text" name='variationOptionName' value={{i.variationOptionName}}    >
                                                       
                                                    </div>
                                                    <input type ="hidden" name="pvid" value="{{i.id}}">
                                                    <button class="btn btn-primary" type="submit">Update</button>
                                                </form>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    
                                    </div>
                                    </div>
             </main>
               
{% endblock %}