{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>

    #map {
   
       width: 100%;
   
       height: 400px;
   
       background-color: grey;
   
   }
   .col1 {
      column-count: 3;
      column-gap: 50px;
    }
    .col2 {
      column-count: 2;
      column-gap: 50px;
    }
   
   
   </style>
   
    
                <main class="mt-100 mb-100">
                   <div class="container">
                    <h1>Zones</h1>
                   </div>
                    <div class="container mt-100 mb-100">
                        <div class="row">                  
                            <div class="col-md-8">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        <h5>Update Zones</h5>
                                    {% for i in zone %}
                                        <form method="POST" action="{% url 'update_zone' %}" enctype="multipart/form-data">
                                            {% csrf_token %} 
                                            <div class=col1>
                                            <div class="">
                                                <label for="exampleFormControlInput1">Zone name</label>
                                                <input class="form-control" id="exampleFormControlInput1" type="text" name='zone_name' value="{{i.zone_name}}">
                                            </div>
                                            <div class="">
                                                <label for="exampleFormControlInput1">choose location</label>
                                                <button onclick=initMap() type="button" class="form-control" id="exampleFormControlInput1" >choose location</button>
                                            </div>
                                        </div>
                                            <div id="map" style="display: none;"></div> 
                                            <div class=col1>
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">latitude</label>
                                                <input class="form-control" id="demo" type="text" name="lat" >
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">longitude</label>
                                                <input class="form-control" id="demo1" type="text" name="long" >
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">Distance</label>
                                                <input class="form-control"  type="number" name="distance" value="{{i.distance}}">
                                            </div>
                                        </div>
                                        <div class=col1>
                                            <div class="">
                                                <label for="exampleFormControlInput1">Delivery Within_days</label>
                                                <input class="form-control" id="exampleFormControlInput1" type="number" name='delivery_within_days' value="{{i.delivery_within_days}}">
                                            </div>
                                            <div class="">
                                                <label for="exampleFormControlInput1">Delivery Charge</label>
                                                <input class="form-control" id="exampleFormControlInput1" type="number" name='delivery_charge' value="{{i.delivery_charge}}">
                                            </div>
                                            </div>
                                            <input type ="hidden" name="zoneId" value="{{i.id}}">
                                            <br><br>
                                            <button class="btn btn-primary" type="submit">Update</button>
                                        </form>
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <br>
                            </div>
                            </div>
                          
                
                </main>
                <script>
                    function initMap() {
                       var y = document.getElementById("demo");
                       var z = document.getElementById("demo1");
                       var x = document.getElementById('map').style.display = "block";
                       
                       if (navigator.geolocation) {
                           var options = {timeout:60000};
                           navigator.geolocation.getCurrentPosition(showPosition, errorHandler, options);
                       } 
                       else { 
                           x.innerHTML = "Geolocation is not supported by this browser.";
                       }
                       function errorHandler(err) {
                           if(err.code == 1) {
                           alert("Error: Access is denied!");
                           } else if( err.code == 2) {
                           alert("Error: Position is unavailable!");
                           }
                       }
                       function showPosition(position){   
                       y = position.coords.latitude;   
                       z = position.coords.longitude;
                       console.log(y)
                       console.log(z)
                       var lattlong = new google.maps.LatLng(y, z);
                       var myOptions = {   
                           center: lattlong,   
                           zoom: 15,   
                           mapTypeControl: true,   
                           navigationControlOptions: {style:google.maps.NavigationControlStyle.SMALL
                           }   
                       }   
                       
                       // var myLatlng = {lat: 11.2588, lng: 75.7804};
                
                       var map = new google.maps.Map(document.getElementById('map'), {
                           zoom: 12,
                           center: lattlong
                       });
                
                       var marker = new google.maps.Marker({
                           position: lattlong,
                           map: map
                       });
                
                       map.addListener('click', function(e) {
                           document.getElementById('demo').value = e.latLng.lat();
                           document.getElementById('demo1').value = e.latLng.lng();
                           marker.setPosition(e.latLng);
                       });
                       }
                   }
                </script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaz2SEa3J1UFz0wStoO5A8TgGLpTIpD90"></script>
            
               
{% endblock %}