{% extends 'base.html' %}
{% load static %}
{% block content %}
<style> 
     .star{
       color:red;
       
    }
    .col1 {
      column-count: 3;
      column-gap: 90px;
    }
    .col2 {
        column-count: 3;
        column-gap: 50px;
       
      
    }
    .col3 {
        column-count: 4;
        column-gap: 35%;
       
      
    }
    .pos1
    {
        position:absolute;  
        left:41%;
        top:66%;
    }
    .pos2
    {
        position:absolute;  
        left:70%;
        top:66%;
    }
    .pos3
    {
        position:absolute;  
        left:65%;
        top:67%;
    }
    
    </style>
                <main class="mt-100 mb-100">
                   <div class="container">
                    <h1>Product</h1>
                    <a href= "{% url 'listProduct' %}"><button class="btn btn-primary" type="submit">List Products</button></a>
                   </div>
                    <div class="container mt-100 mb-100">
                        <div class="row">
                            
                            <div class="col-md-14">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        <h5>UPDATE PRODUCT</h5>
                                        {% for i in product %}
                                        <form method="POST" action="{% url 'update_product' %}" enctype="multipart/form-data">{% csrf_token %}
                                            <div class=col2>
                                                <div class="col-md-5">
                                                    <label for="exampleFormControlInput1"><span>Product Name  <sup class="star">*</sup> </span></label>
                                                    <input class="" id="explicit-block-txt" type="text" name='product_name'  value={{i.product_name}}>
                                                </div>
                                                <div class="col-md-5">
                                                <label for="exampleFormControlInput1"><span>Category <sup class="star">*</sup> </span></label>
                                                <select class="" id="exampleFormControlSelect1" name='category' onchange="getResult(this.value)">
                                                    <option >--- Select Category------</option>
                                                    <option>
                                                    {% for i in category %}
                                                            <option value="{{i.id}}" {% if i.id == mc %} selected {% endif %}> {{i.category_name}}</option>
                                                    {% endfor %}
                                                </select>
                                                </div>
                                                <div class="col-md-5">
                                                <label for="exampleFormControlSelect1">Sub Category</label>
                                                <select class="" id="subcategory" name='subcategory'>
                                                    <option value=0>--- Select Subcategory------</option>
                                                    {% for i in category %}
                                                            <option value="{{i.id}}"{% if i.id == c %} selected {% endif %}> {{i.category_name}}</option>
                                                    {% endfor %}
                                                </select>
                                               </div> 
                                            </div>
                                            
                                        <br>
                                        <p>Add Product Image</p>
                                        <div class="col1">
                                            <label for="exampleFormControlInput1" ><span>Product Image 1<sup class="star">*</sup> </span>{% if i.product_image1  %}<img src = "{{ i.product_image1.url }}" alt="" style="max-width: 40px; max-height: 40px; width: 50%;">{% else %}<img src = "{{ i.product_image1 }}" alt="" style="max-width: 40px; max-height: 40px; width: 50%;">{% endif %}</label>
                                            <input class="" id="exampleFormControlInput1" type="file" name='product_image1' value={{i.product_image1}}>
                                            <label for="exampleFormControlInput1">Product Image 2{% if i.product_image2  %}<img src = "{{ i.product_image2.url }}" alt="" style="max-width: 40px; max-height: 40px; width: 50%;">{% else %}<img src = "{{ i.product_image2 }}" alt="" style="max-width: 40px; max-height: 40px; width: 50%;">{% endif %}</label>
                                            <input class="" id="exampleFormControlInput1" type="file" name='product_image2' value={{i.product_image2}} >
                                            <label for="exampleFormControlInput1">Product Image 3{% if i.product_image3  %}<img src = "{{ i.product_image3.url }}" alt="" style="max-width: 40px; max-height: 40px; width: 50%;">{% else %}<img src = "{{ i.product_image3 }}" alt="" style="max-width: 40px; max-height: 40px; width: 50%;">{% endif %}</label>
                                            <input class="" id="exampleFormControlInput1" type="file"  name='product_image3' value={{i.product_image3}}>
                                        </div> 
                                        <br>
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1"><span>Product Description<sup class="star">*</sup> </span></label>
                                            <textarea  class="form-control" id="exampleFormControlInput1" type="textarea"  name='product_description' value={{i.product_description}} >{{i.product_description}}</textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1"><span>Highlights<sup class="star">*</sup> </span></label>
                                            <textarea class="form-control" id="exampleFormControlInput1" type="textarea"  name='highlights' value={{i.highlights}}>{{i.highlights}}</textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1"><span>Return Policy<sup class="star">*</sup> </span></label>
                                            <textarea class="form-control" id="exampleFormControlInput1" type="textarea"  name='return_policy' value={{i.return_policy}}>{{i.return_policy}}</textarea>
                                        </div>
                                        <br>
                                        
                                        <div class="col2">
                                            <div class="col-md-7">
                                            <label for="exampleFormControlInput1">Net Weight</label>
                                            <input class="" id="exampleFormControlInput1"type="number" onkeypress="return event.charCode >= 48" min="1" name='Net_weight' value={{i.Net_weight}}>
                                            </div>
                                            <div class="col-md-7">
                                            <label for="exampleFormControlInput1">Unit</label>
                                            <select  id="exampleFormControlSelect1" name='units'>
                                                <option value="0" >--- Select Unit------</option>
                                                <option>
                                                {% for i in unit %}
                                                        <option value="{{i.id}}" {% if i.id == u %}  selected  {% endif %}> {{i.units}}</option>
                                                {% endfor %}
                                            </select>
                                            </div>
                                            <div class=col-md-5>
                                            <label for="exampleFormControlInput1">Brand name</label>
                                            <input class="" id="exampleFormControlInput1"type="text"  name='brand_name' value={{i.brand_name}}>
                                            </div> 
                                            
                                        </div>
                                        <br> 
                                        <br>
                                        
                                        <div class="col2">
                                            <div class=col-md-8>
                                            <label for="exampleFormControlInput1">Number Of Days Of Refund</label>
                                            <input class="" id="" type="number"  name='number_of_days_for_refund' onkeypress="return event.charCode >= 48" min="1" value={{i.number_of_days_for_refund}}>
                                                
                                            </div>
                                            <div class=col-md-5>
                                            <label for="exampleFormControlInput1">Delivery Charge</label>
                                            <input class="" id="exampleFormControlInput1"type="number"  name='delivery_charge' onkeypress="return event.charCode >= 48" min="1"  value={{i.delivery_charge}}>
                                            </div> 
                                            <div class=col-md-5>
                                            <label for="exampleFormControlInput1">Delivery Days</label>
                                            <input class="" id="exampleFormControlInput1"type="number" onkeypress="return event.charCode >= 48" min="1"  name='delivery_days' value={{i.delivery_days}}>
                                            </div>
                                             
                                        </div>   
                                            
                                        <br>
                                        <br>  
                                        <br>
                                        <div class="col2">
                                            <div class=col-md-5>
                                                <label for="exampleFormControlInput1">Banner 1 {% if i.banner1  %}<img src = "{{ i.banner1.url }}" alt="" style="max-width: 40px; max-height: 40px; width: 50%;">{% else %}<img src = "{{ i.banner1 }}" alt="" style="max-width: 40px; max-height: 40px; width: 50%;">{% endif %}</label>
                                                <input class="" id="exampleFormControlInput1"type="file"  name='banner1' value={{i.banner1}}>
                                            </div> 
                                             <div class=col-md-5>
                                                <label for="exampleFormControlInput1">Banner 2 {% if i.banner2  %}<img src = "{{ i.banner2.url }}" alt="" style="max-width: 40px; max-height: 40px; width: 50%;">{% else %}<img src = "{{ i.banner2 }}" alt="" style="max-width: 40px; max-height: 40px; width: 50%;">{% endif %}</label>
                                                <input class="" id="exampleFormControlInput1"type="file"  name='banner2' value={{i.banner2}}>
                                            </div> 
                                            <div class=col-md-5>
                                                <label for="exampleFormControlSelect1">Coupon Code</label>
                                                <select  id="exampleFormControlSelect1" name='coupon_code'>
                                                    <option value="0">----Select---------</option>
                                                    {% for i in coupon %}
                                                            <option value="{{i.id}}" {% if i.id == cp %} selected {% endif %}> {{i.coupon_name}}</option>
                                                    {% endfor %}
                                                </select>
                                               </div>
                                            
                                                                                                
                                        </div>

                                        
                                        <br>
                                        <div class="col3">
                                            <div class="col-md-3">
                                            <label for="exampleFormControlInput1">Pincode</label>
                                            
                                            <select class="" id="exampleFormControlSelect1" name='pincode' multiple>
                                                <option value="" >--Select Pincode------</option>
                                                <option>
                                                {% for i in pincode1 %}
                                                        <option value="{{i.id}}"  {% if i.id in pin %} selected {% endif %}> {{i.pincode}}</option>
                                                {% endfor %}
                                            </select>
                                            </div> 

                                            <div class="col-md-1"> 
                                            <label for="exampleFormControlInput1">Zones</label>
                                              
                                            
                                            <select  id="exampleFormControlSelect1" name='zone' multiple>
                                                    <option value="" >--Select Zonese------</option>
                                                    <option>
                                                    {% for i in zone1 %}
                                                            <option value="{{i.id}}"  {% if i.id in zon %} selected {% endif %}> {{i.zone_name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div> 
                                           </div>
                                           <br>
                                        
                                        <br>
                                        <div class="" >
                                        &nbsp;&nbsp;&nbsp;<label for="exampleFormControlInput1">Foot wear sizechart</label>
                                        &nbsp;&nbsp;&nbsp;<input  id="exampleFormControlInput1"type="checkbox"  name='footware_sizechart'  {% if i.footware_sizechart == True %} checked {% endif %}>
                                           
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <label for="exampleFormControlInput1">Dress wear sizechart</label>
                                        <input  id="exampleFormControlInput1" type="checkbox"  {% if i.dress_sizechart == True %} checked {% endif %} name='dress_sizechart' >
                                        </div>
                                           <br>
                                        
                                        <input type ="hidden" name="productId" value="{{i.id}}">
                                        <button class="btn btn-primary" type="submit">Update</button>
                                        <div class="form-group">
                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    {% endfor %}
                                    
                                    </div>
                    </div>
                    <script type="text/javascript">
                        function getResult(value){
                          var searchValue = value
                            console.log(searchValue)
                          x = new XMLHttpRequest;
                      
                          x.open('GET','?category='+searchValue);
                          x.send();
                      
                          x.onreadystatechange = function() {
                              if (this.readyState == 4 && this.status == 200) {
                                  var c = document.getElementById('subcategory');
                                  c.innerHTML = x.response;
                                  console.log(c)
                              }
                      
                          }
                      
                        }
                      

                      </script>
                      <script>
                        document.getElementById("explicit-block-txt").onkeypress = function(e) {
                        var chr = String.fromCharCode(e.which);
                        if ("></\",.@!#$%^&*()_+-*;:'{}[]|`~?".indexOf(chr) >= 0)
                        {   
                            alert(" Special Characters Not Allowed!!!!");
                            return false;  
                        }
                        };
                    </script>
                   
                </main>
               
{% endblock %}