{% extends 'base.html' %}
{% load static %}
{% block content %}
                <main class="mt-100 mb-100">
                   <div class="container">
                    <h1>Dress wear chart</h1>
                   </div>                
                   <div class="container mt-100 mb-100">
                    <div class="row">                  
                        <div class="col-md-6">
                            <div class="card">
                                    <div class="card-body">
                                        <h5>UPDATE Dresswear Chart</h5>
                                        {% for i in dress %}
                                        <form method="POST" action="{% url 'update_Dresschart' %}" enctype="multipart/form-data">
                                            {% csrf_token %}
                                             <div class="form-group">
                                                <label for="exampleFormControlInput1">Country</label>
                                                <input class="form-control" id="exampleFormControlInput1" type="text" name='country' value={{i.country}} >
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">Size</label>
                                                <input class="form-control" id="exampleFormControlInput1" type="text" name='size' value={{i.size}} >
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">Chest</label>
                                                <input class="form-control" id="exampleFormControlInput1" type="text" name='chest'value={{i.chest}} >
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">Front length</label>
                                                <input class="form-control" id="exampleFormControlInput1" type="text" name='front_length'value={{i.front_length}} >
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">Acrross_shoulder</label>
                                                <input class="form-control" id="exampleFormControlInput1" type="text" name='acrross_shoulder'value={{i.acrross_shoulder}} >
                                            </div>
                                            <input type ="hidden" name="dressid" value="{{i.id}}">
                                            <button class="btn btn-primary" type="submit">Update</button>
                                        </form>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                         
               </main>
{% endblock %}