{% extends 'base.html' %}
{% load static %}
{% block content %}

                <main class="mt-100 mb-100">
                   <div class="container">
                    <h1>Units</h1>
                   </div>
                    <div class="container mt-100 mb-100">
                        <div class="row">                  
                            <div class="col-md-6">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        <h5>UPDATE PINCODE</h5>
                                        {% for i in pin %}
                                        <form method="POST" action="{% url 'update_pincode' %}" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">Pincode</label>
                                                <input class="form-control" id="exampleFormControlInput1" type="number" name='pincode' value={{i.pincode}}>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">City</label>
                                                <input class="form-control" id="exampleFormControlInput1" type="text" name='city' value={{i.city}} >
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">State</label>
                                                <textarea class="form-control"  id="exampleFormControlInput1" type="text" name='state' value={{i.state}} >{{i.state}}</textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">Delivery Within_days</label>
                                                <input class="form-control" id="exampleFormControlInput1" type="number" name='delivery_within_days'value={{i.delivery_within_days}}>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">Delivery Charge</label>
                                                <input class="form-control" id="exampleFormControlInput1" type="number" name='delivery_charge' value={{i.delivery_charge}}>
                                            </div>
                                            <input type ="hidden" name="pinId" value="{{i.id}}">
                                            <button class="btn btn-primary" type="submit">Update</button>
                                        </form>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <br>
                            
                            </div>
                            </div>
                        </div>
                    </div>
                </main>  
{% endblock %}