{% extends 'base.html' %}
{% load static %}
{% block content %}
                <main class="mt-100 mb-100">
                   <div class="container">
                    <h1>Footwearchart</h1>
                   </div>                
                   <div class="container mt-100 mb-100">
                    <div class="row">                  
                        <div class="col-md-6">
                            <div class="card">
                                    <div class="card-body">
                                        <h5>Update Footwear Chart</h5>
                                        {% for i in foot %}
                                        <form method="POST" action="{% url 'update_Foot' %}" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">Country</label>
                                                <input class="form-control" id="exampleFormControlInput1" type="text" name='country' value={{i.country}} >
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">Size</label>
                                                <input class="form-control" id="exampleFormControlInput1" type="text" name='size' value={{i.size}} >
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1">Foot length</label>
                                                <input class="form-control" id="exampleFormControlInput1" type="text" name='foot_length'value={{i.foot_length}} >
                                            </div>
                                            <input type ="hidden" name="footid" value="{{i.id}}">
                                            <button class="btn btn-primary" type="submit">Update</button>
                                        </form>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            
                            </div>
                        </div>
                    </div>
                    
               </main>
{% endblock %}