{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content />
        <meta name="author" content />
        <title>Dashboard</title>
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
        <link href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" rel="stylesheet" crossorigin="anonymous" />
        <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon.png' %}" />
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.27.0/feather.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="nav-fixed">
        <nav class="topnav navbar navbar-expand shadow navbar-light bg-white" id="sidenavAccordion">
            <a  href="" ></a>
            <ul class="navbar-nav align-items-center ml-auto">
                <li class="nav-item dropdown no-caret mr-2 dropdown-user">
                    <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownUserImage" href="javascript:void(0);" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><i class="fas fa-bell fa-fw" aria-hidden="true" ></i><span class="badge badge-danger badge-counter">{{ ordered }}</span></a>
                    <div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownUserImage">
                        <h6 class="dropdown-header d-flex align-items-center">
                            <div class="dropdown-user-details">
                            </div>
                        </h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'listOrders' %}">
                            <div class="dropdown-item-icon" ><i class="fas fa-shopping-cart"></i></div>
                            Orders
                            
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown no-caret mr-2 dropdown-user">
                    <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownUserImage" href="javascript:void(0);" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="img-fluid" src="https://www.freepngimg.com/thumb/youtube/62644-profile-account-google-icons-computer-user-iconfinder-thumb.png"/></a><i class="fa fa-angle-down" aria-hidden="true"></i>
                    <div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownUserImage">
                        <h6 class="dropdown-header d-flex align-items-center">
                            <!-- <img class="dropdown-user-img" src="https://source.unsplash.com/QAB-WJcbgJk/60x60" />
                            <div class="dropdown-user-details">
                                <div class="dropdown-user-details-name">Valerie Luna</div>
                                <div class="dropdown-user-details-email">vluna@aol.com</div>
                            </div> -->
                        </h6>
                        <div class="dropdown-divider"></div>
                        <!-- <a class="dropdown-item" href="">
                            <div class="dropdown-item-icon"><i data-feather="settings"></i></div>
                            Account
                        </a> -->
                        <a class="dropdown-item" href="{% url 'logout' %}">
                            <div class="dropdown-item-icon"><i data-feather="log-out"></i></div>
                            Logout
                        </a>
                    </div>
                    <li class="nav-item dropdown no-caret mr-3 d-none d-md-inline">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownDocs" href="javascript:void(0);" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="d-none d-md-inline font-weight-500"><h3>hello {{username}}</h3></div><br>
                        </a><br> 
                        <!-- <span>{{request.vendor_id.vendor_name}}</span> -->
                    </li>
            </ul>
                </li>
            </ul> 
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sidenav shadow-right sidenav-light">
                    <div class="sidenav-menu">
                        <div class="nav accordion" id="accordionSidenav">
                            <a class="nav-link" href="{% url 'dashboard' %}">
                                <div class="nav-link-icon"><i data-feather="bar-chart"></i></div>
                                Dashboard
                            </a>
                            <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapseComponents" aria-expanded="false" aria-controls="collapseComponents">
                                <div class="nav-link-icon"><i class="fas fa-shopping-cart"></i></div>
                               Order
                                <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseComponents" data-parent="#accordionSidenav">
                                <nav class="sidenav-menu-nested nav">
                                    <a class="nav-link"  href="{% url 'listOrders' %}" >Order</a>
                                </nav>
                            </div>
                            
                            <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapseDashboards" aria-expanded="false" aria-controls="collapseDashboards">
                                <div class="nav-link-icon"><i class="fas fa-th-large"></i></div>
                                Category
                                <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseDashboards" data-parent="#accordionSidenav">
                                <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                                    <a class="nav-link" href="{% url 'categorylist' %}">
                                        Category
                                    </a>
                                    <a class="nav-link" href="{% url 'listWebbanners' %}">Add Web Banner</a>
                                    <a class="nav-link" href="{% url 'listMobilebanners' %}">Add Mobile Banner</a>
                                    <a class="nav-link" href="{% url 'listProductVariations' %}">
                                        Variations
                                    </a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="nav-link-icon"><i class="fas fa-box-open"></i></div>
                                Product
                                <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" data-parent="#accordionSidenav">
                                <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPagesMenu">
                                    <a class="nav-link" href="{% url 'listProduct' %}">
                                        Product
                                    </a>
                                    <a class="nav-link" href="{% url 'listUnit' %}">
                                        Unit
                                    </a>
                                    <a class="nav-link" href="{% url 'listPincode' %}">
                                        Pincode
                                    </a>
                                    <a class="nav-link" href="{% url 'listZone' %}">
                                        Zone
                                    </a>
                                    <a class="nav-link" href="{% url 'listFoot' %}">
                                        Foot wear chart
                                    </a>
                                    <a class="nav-link" href="{% url 'listDresschart' %}">
                                        Dress chart
                                    </a>
                                    <a class="nav-link" href="{% url 'listCoupon' %}">
                                        Coupons
                                    </a>
                                    <a class="nav-link" href="{% url 'imageupload' %}">
                                        Bulkupload Images
                                     </a>
                                    <a class="nav-link" href="{% url 'uploadproduct' %}"">
                                        Bulkupload Products
                                     </a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapseFlows" aria-expanded="false" aria-controls="collapseFlows">
                                <div class="nav-link-icon" href="" ><i class="fas fa-users"></i></div>
                                Customer
                                <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseFlows" data-parent="#accordionSidenav">
                                <nav class="sidenav-menu-nested nav">
                                    <a class="nav-link" href="{% url 'listcustomers' %}"  >
                                        Customer
                                    </a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="nav-link-icon"><i class="fas fa-shipping-fast"></i></div>
                                Courier
                                <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" data-parent="#accordionSidenav">
                                <nav class="sidenav-menu-nested nav">
                                   
                                    <a class="nav-link" href="{% url 'listCourier' %}">
                                        Courier
                                    </a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapseUtili" aria-expanded="false" aria-controls="collapseUtili">
                                <div class="nav-link-icon"><i class="fa fa-file" aria-hidden="true"></i></div>
                                Reports
                                <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseUtili" data-parent="#accordionSidenav">
                                <nav class="sidenav-menu-nested nav">
                                    <a class="nav-link" href="{% url 'reportlistsales' %}">Sales</a>
                                    <a class="nav-link" href="{% url 'reportlistproduct' %}">Product</a>
                                    <a class="nav-link" href="{% url 'reportlistcustomer' %}">Customer</a>
            
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                                <div class="nav-link-icon"><i class="fas fa-cogs"></i></div>
                                Settings
                                <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapse1" data-parent="#accordionSidenav">
                                <nav class="sidenav-menu-nested nav">
                                    <a class="nav-link" href="{% url 'listOrganization' %}">Add Organization</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapseLayouts1" aria-expanded="false" aria-controls="collapseLayouts1">
                                <div class="nav-link-icon"><i data-feather="package"></i></div>
                                Notifications
                                <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                                                        
                            <div class="collapse" id="collapseLayouts1" data-parent="#accordionSidenav">
                                <nav class="sidenav-menu-nested nav">
                                    <a class="nav-link" href="{% url 'PushNotification' %}" >Push Notifications</a>
                                    <a class="nav-link" href="{% url 'SMSNotification' %}">SMS Notifications</a>
                                    <a class="nav-link" href="{% url 'EmailNotification' %}">Email Notifications</a>

                                </nav>
                            </div>
                        </div>
                         
                    </div>
                  
                </nav>
            </div>            
            <div id="layoutSidenav_content">
                {% block content %}
                {% endblock %}
               
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'assets/demo/chart-bar-demo.js' %}"></script>
        <script src="{% static 'js/sb-customizer.js' %}"></script>
        
    </body>
</html>
