{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .previous{
        padding: 10px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 20px;
    }
    .paginate_button{
        padding: 10px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    }
    .next{
        padding: 10px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 20px;
    }
   .dataTables_paginate{
        margin-bottom: 10px !important;
    }
    .paging_simple_numbers{
        margin-top: -25px !important;
    }
</style>
<style>
    
    .btns{
        backface-visibility: hidden;
        border: hidden;
    }
    .page{
        float: right;
    }
    .button{
        border: hidden;
        backface-visibility: hidden;
        color: #fff;
    background-color: #0061f2;
    border-color: #0061f2;
    cursor: pointer;
    border-radius: 0.35rem;
        
    }
    .reset{
        padding-right: 10px;
        padding-top: 10px;
        
        position:absolute;
   top: 0;
   right:0;
    }
        
</style>
                <main class="mt-100 mb-100">
                   <div class="container">
                    <h1>Sales Report</h1>
                   </div>
                   
                
                    <div class="container mt-100 mb-100">
                       
                    
                      
                      


                        <!-- <div class="row"> -->
                            
                            <!-- <div class="col-md-6"> -->
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="reset"><a href="{% url 'salesreportsearch' %}" method="POST"><button class="btn btn-primary" type="submit">Reset</button></a></div>
                                        <h5>SALES LIST</h5>
                                       
                                        <div class="datatable">
                                            <div class="form-group">
                                                <a href="/media/reports/report1.xlsx"><button style=" background-color: rgb(0, 0, 0);color:white;">Export to Excel</button></a>
                                            </div>
                                            <div class="row">
                                                <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'salesreportsearch' %}">
                                                    {% csrf_token %}
                                        <!-- <div class="col-sm-8"> -->
                                            <div class="form-group">
                                                &nbsp;&nbsp;&nbsp;<input class="form-control" id="search" name="ordernumber" type="number" placeholder="Sales Order No">
                                                &nbsp;&nbsp;&nbsp;&nbsp;<input class="form-control" id="search" name="startingdate" type="date" placeholder="Start Invoice date" >
                                                &nbsp;&nbsp;&nbsp;&nbsp;<input class="form-control" id="search" name="endingdate" type="date" placeholder="End Invoice date" >
                                                
                                                &nbsp;&nbsp;&nbsp;&nbsp;<select class="form-control" id="search" name="status">
                                                    
                                                    <option value="">status</option>
                                                    <option >Completed</option>
                                                    <option >Ordered</option>
                                                    <option >Accepted</option>
                                                    <option >Order Cancel</option>
                                                    <option >Customer Cancel</option>
                                                    <option >Delivered</option>
                                                    <option >Added to Cart</option>
                                                    <option >Out of Delivery</option>
                                                    <option >Refund Initiated</option>
                                                    <option >Return And exchange</option>
                                                    
                                               

                                                    </select>
                                                &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-primary" type="submit">search</button>
                                                
                                            </div>
                                                </form>
                                                <!--  <form class="form-inline my-2 my-lg-0" method="GET" action="/search_vendor">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <input class="form-control" id="search" name="search" type="text" placeholder="Search by order">
                                            </div>
                                        </div>
                                        
                                        <div class="col-sm-4">
                                            <button class="btn btn-primary" type="submit">search</button>

                                        </div>
                                    </form> -->
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-xl-12">
                                                    <div class="table01">
                                                        <table id="table1">
                                                            <div class="col-xl-3">
                                                                </div>          
                                                 <thead>
                                                    <tr>
                                                        <th>Invoice date</th>
                                                        <th>Sales Order No</th>
                                                        <th>Customer</th>
                                                        <th>Status</th>
                                                        <th>Total</th>
                                                        
                                                        
                                                 
                                               
                                                    </tr>
                                                </thead>
                                                <tbody id="searchResult">
                                                    {% for order in orders %}
                                                
                                                    <tr>
                                                        <td>{{order.order_date}}</td>
                                                        <td>{{order.id}}</td>
                                                        <td>{{order.user.username}}</td>
                                                        <td>{{order.status}}</td>
                                                        <td>{{order.order_total}}</td>
                                                        
                                                
                                                        <!-- <td><i class="fa fa-edit"></i><i class="fa fa-trash"></i><i class="fa fa-check-square"></i></td> -->
                                                   
                                                    </tr>
                                                     
                                                    {% endfor %}
                                                </tbody>    
                                            </table>
                                            
                                        </div>
                                    
                                    </div>
                                </div>
                            <!-- </div> -->
                        </div>
                    </div>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
                    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" defer></script>
                    <script>
                        $(document).ready(function () {
                            $('#table1').DataTable({
                                "lengthChange": false,
                                "pageLength": 10,
                                "ordering":false,
                                "searching":false,
                            });
                        });
                    </script>
                </main>
                
               
{% endblock %}
