{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .previous{
        padding: 10px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 20px;
    }
    .paginate_button{
        padding: 10px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    }
    .next{
        padding: 10px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 20px;
    }
   .dataTables_paginate{
        margin-bottom: 10px !important;
    }
    .paging_simple_numbers{
        margin-top: -25px !important;
    }
</style>
<style>
    
    .reset{
        padding-right: 10px;
        padding-top: 10px;
        
        position:absolute;
   top: 0;
   right:0;
    }
    .sbtn{
        padding-top: 10px;
    }
    .btns{
        backface-visibility: hidden;
        border: hidden;
    }
    .page{
        float: right;
    }
    .button{
        border: hidden;
        backface-visibility: hidden;
        color: #fff;
    background-color: #0061f2;
    border-color: #0061f2;
    cursor: pointer;
    border-radius: 0.35rem;
        
    }
    
    
</style>
                <main class="mt-100 mb-100">
                   <div class="container">
                    <h1>Customer Report</h1>
                   </div>
                   
               
                    <div class="container" style="width:100%;">

                        <!-- <div class="row"> -->
                             
                            <!-- <div class="col-md-6">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        
                                        <h5>ADD PRODUCT</h5>
                                        

                                        <form method="POST" action="#">{% csrf_token %}
                                            <div class="input-group mb-3">
                                                <table>
                                                    {{form.as_table}}
                                                </table>
                                                
                                            </div>
                                            <button class="btn btn-primary" type="submit">Add</button>
                                        </form>

                                    </div>
                                </div> -->
                            <!-- </div>  -->
                            <!-- <div class="col-md-6"> -->
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="reset">
                                            <a href= "{% url 'reportsearchcustomer' %}"><button class="btn btn-primary" type="submit">Reset</button></a>

                                        </div>
                                        <div class="form-group">
                                            <a href="/media/reports/reports.csv"><button style=" background-color: rgb(0, 0, 0);color:white;">Export to Excel</button></a>
                                        </div>
                                        <!-- <h5>PRODUCT REPORT</h5> -->
                                        <div class="datatable">
                                            <div class="row">
                        
                                                <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'reportsearchcustomer' %}">
                                                    {% csrf_token %}
                                        <!-- <div class="col-sm-8"> -->
                                            <div class="form-group">
                                                <!-- &nbsp;&nbsp;&nbsp;<input class="form-control" id="search" name="category_name" type="text" placeholder="Search Category"> -->
                                                &nbsp;&nbsp;&nbsp;&nbsp;<input class="form-control" id="search" name="customer_name" type="text" placeholder="Search Customer">
                                                {% comment %} &nbsp;&nbsp;&nbsp;&nbsp;<select class="form-control" id="search" name="vendor"> {% endcomment %}
                                                    {% comment %} <option disabled="true" selected>----Vendors---</option>
                                                    {% for i in vendor %}
                                                    <option value="{{i.id}}"> {{i.vendor_name}} </option>
                                                  {% endfor %}
                                                  </select> {% endcomment %}
                                                &nbsp;&nbsp;&nbsp;<button class="btn btn-primary" type="submit">search</button>
                                            </div>

                                        <!-- </div> -->

                                    </form>
                                        
                                            </div>
                                            <br>
                                            <div class="row">
                                            <div class="col-xl-12">
                                            <div class="table01">
                                            <table id="table1">
                                                <div class="col-xl-3">
                                                </div> 
                                              
                                            <thead> 
                                                <tr>      
                                                        <!-- <th>Serial No</th> -->
                                                        <th>Customer id</th>
                                                        <th>Customer Name</th>
                                                        <th>Customer Email</th>
                                                        <th> Customer Phone Number</th>
                                                        <th>Customer City</th>
                                                        <th>Customer Postcode</th>

                                               
                                                    </tr>
                                            </thead>
                                                    <tbody id="searchResult">
                                                
                                                    
                                                        
                                                        {% for i in response %}
                                                
                                                        <tr>
                                                            
                                                            <td>{{i.id}}</td>
                                                            <td>{{i.username}}</td>
                                                            <td>{{i.email}}</td>
                                                            <td>{{i.phone}}</td>
                                                            <td>{{i.city}}</td>
                                                            <td>{{i.postcode}}</td>
                                                   
                                                        </tr>
                                                     
                                                    {% endfor %}
                                                    </tbody>
                                                   
                                            </table>
                                           
                                             
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                                </div>
                           
                    </div>
                    </div>
                    </div>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
                    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" defer></script>
                    <script>
                                             $(document).ready(function () {
                                                 $('#table1').DataTable({
                                                     "lengthChange": false,
                                                     "pageLength": 10,
                                                     "ordering":false,
                                                     "searching":false,
                                                 });
                                             });
                    </script> 
                </main>
               
{% endblock %}