<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <style>
      body {
    background-color: #f2f7fb
}

.login-block {
    margin: 30px auto;
    min-height: 93.6vh
}

.login-block .auth-box {
    margin: 20px auto 0;
    max-width: 450px !important
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px 0 rgba(43, 43, 43, .1), 0 11px 6px -7px rgba(43, 43, 43, .1);
    box-shadow: 0 0 5px 0 rgba(43, 43, 43, .1), 0 11px 6px -7px rgba(43, 43, 43, .1);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: #fff
}

.card .card-block {
    padding: 2.25rem
}

.f-80 {
    font-size: 80px
}

.form-group {
    margin-bottom: 1.25em
}

.form-material .form-control {
    display: inline-block;
    height: 43px;
    width: 100%;
    border: none;
    border-radius: 0;
    font-size: 16px;
    font-weight: 400;
    padding: 9px;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-md {
    padding: 10px 16px;
    font-size: 15px;
    line-height: 23px
}

.btn-primary {
    background-color: #4099ff;
    border-color: #4099ff;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all ease-in .3s;
    transition: all ease-in .3s
}

.btn {
    border-radius: 2px;
    text-transform: capitalize;
    font-size: 15px;
    padding: 10px 19px;
    cursor: pointer
}

.m-b-20 {
    margin-bottom: 20px
}

.btn-md {
    padding: 10px 16px;
    font-size: 15px;
    line-height: 23px
}

.heading {
    font-size: 21px
}

#infoMessage p {
    color: red !important
}

.btn-google {
    color: #545454;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 1px #ddd
}

.or-container {
    align-items: center;
    color: #ccc;
    display: flex;
    margin: 25px 0
}

.line-separator {
    background-color: #ccc;
    flex-grow: 5;
    height: 1px
}

.or-label {
    flex-grow: 1;
    margin: 0 15px;
    text-align: center
}
  </style>
</head>
<body>

    <section class="login-block">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <form class="md-float-material form-material" action="{% url 'loginView' %}" method="POST">
                        


                    {% if msg %}
                <div style="padding-left:500px ;padding-top:5px;padding-right:50px;" >
                    <div class="alert alert-danger alert-dismissible" style="padding-left:5px ;padding-top:10px;padding-right:25px;width:50%;">
                     <button type="button" class="close" data-dismiss="alert">&times;</button>
                              
                                      <strong>Alert!</br></strong> {{msg}}
                                      
                               </div></div>
                              {%endif%}


                        {% csrf_token %}
                        <!-- {{form.as_p}} -->
                        <!-- <button type="submit">Login</button> -->
                            
                        <div class="auth-box card">
                            <div class="card-block">
                             <div class="row">
                                    <div class="col-md-12">
                                        <h3 class="text-center heading"  style="padding:20px 20px 20px;"><B>ADMIN LOGIN</B></h3>
                                    </div>
                                   
                                </div>
                                <div class="form-group form-primary" style="padding:20px 20px 10px;"> <input type="text" class="form-control" name="phone"  placeholder="Phone Number"   ></div>
                                <div class="form-group form-primary" style="padding:10px 20px 10px;"> <input type="password" class="form-control" name="password" placeholder="Password"  > </div>
                                <div class="row">
                                    <div class="col-md-12"style="padding:10px 30px 10px;"> 
                                        <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"><i class="fa fa-lock"></i> Login</button>
                                     </div>
                                </div>
                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="programBought">
    
            <div class="modal-dialog signInBox" style="padding-left: 150px;">
            <div class="modal-content" style="width: 50%;">
              <div class="modal-header">
                <button type="button" class="close closeBtn1" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: red;">{{ extra.heading }}</h4>
              </div>
              <div class="modal-body">
                <div style="height: 100%;color: blue;">{{ extra.msg }}</div>
              </div>
        
            </div>
          </div>
        
        </div>
            <a href="#programBoughtAlert"  data-toggle="modal" data-target="#programBought" id="programBoughtAlert"></a>
    </section>
    {% if extra.popup %}
    <script >
        document.getElementById('programBoughtAlert').click()
    </script>
    {% endif %}
</body>
 
</html>
