
{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
      .button{
        border: hidden;
        backface-visibility: hidden;
        color: #fff;
    background-color: #0061f2;
    border-color: #0061f2;
    cursor: pointer;
    border-radius: 0.35rem;
        
    }
</style>
<style>
    .previous{
        padding: 10px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 20px;
    }
    .paginate_button{
        padding: 10px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    }
    .next{
        padding: 10px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 20px;
    }
   .dataTables_paginate{
        margin-bottom: 10px !important;
        margin-top: 10px !important;
    }
    .paging_simple_numbers{
        margin-top: -25px !important;
    }
</style>
<main>
    
        
                    <section class="mb-100 mt-100">
                        <div class="container">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="card bg-bluegradient text-white">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="mr-3">
                                                <div class="text-lg font-weight-bold" >Total Orders Details</div>
                                            </div>
                                             {{total_order_details }}


                                        </div>
                                    </div>
                                    
                                </div>
                            </div>

                            <div  class="col-sm-5">
                                <div class="card bg-blackgradient text-white">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="mr-3">
                                                <div data-toggle="modal" data-target="#modal-default" onclick="" style="cursor:pointer;" class="text-lg font-weight-bold">Completed

                                                 </div>

                                            </div>
                                            {{completed}}

                                        </div>
                                    </div>
                                    
                                </div>
                            </div>

                            {% comment %} <div class="col-sm-4">
                                <div class="card bg-peachgradient text-white">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="mr-3">
                                                <div class="text-lg font-weight-bold">Pending</div>
                                            </div>
                                            {{orders_pending}}
                                        </div>
                                    </div>
                                    
                                </div>
                            </div> {% endcomment %}
                            
                        </div>
                        </div>
                    </section>

                    <section class="mb-10 mt-100">
                            <div class="container">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="card bg1 text-white">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="mr-3">
                                                    <div data-toggle="modal" data-target="#modal-default1" onclick="" style="cursor:pointer;" class="text-lg font-weight-bold">Accepted</div>
                                                </div>
                                               {{accepted}}
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="card bg2 text-white">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="mr-3">
                                                    <div data-toggle="modal" data-target="#modal-default2" onclick="" style="cursor:pointer;" class="text-lg font-weight-bold">Out of Delivery</div>
                                                </div>
                                                {{out_of_delivery}}
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="card bg3 text-white">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="mr-3">
                                                    <div data-toggle="modal" data-target="#modal-default3" onclick="" style="cursor:pointer;" class="text-lg font-weight-bold">Cancelled</div>
                                                </div>
                                                {{order_cancel}}
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                
                            </div>
                            </div>
                        </section>




                    <br>
                    <div class="container mt-n10">
                       
                    
                      
                        <div class="card mb-4">
                            <div class="col-xl-12">
                            <div class="card-header">ORDER HISTORY</div>
                                
                            
                              
                                
                                    <div class="table-responsive">
                                        <table id="table1">
                                            <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Order ID</th>
                                                <th>Order Date</th>
                                                <th>Customer</th>
                                   {% comment %}<th>Vendor</th>{% endcomment %}
                                                <th>Total Orders</th>
                                                <th>Payment Method</th>
                                                <th>Payment Status</th>
                                                <th>Order Status</th>
                                                <th>Show</th>
                                            </tr>
                                        </thead>
                                        
                                        <tbody>


                                           {% for order in response %}
                                            <tr>
                                                <td>{{order.id}}</td>
                                                <td>{{order.order_id}}</td>
                                                <td>{{order.order_date}}</td>
                                                <td>{{order.user.username}}</td>
                                   {% comment %}<td>{{order.vendor_id_id}}</td>{% endcomment %}
                                                <td>{{order.order_total}}</td>
                                                <td>{{order.payment_method}}</td>
                                                <td>{{order.payment_status}}</td>
                                                <td>{% if order.status != 'Ordered'  %}
                                                    {{order.status}}
                                                    {% endif %}

                                                
                                                
                                                {% if order.status == 'Ordered'  %}

                                                
                                                    {% if order.status != 'Accepted' and order.status != 'Order Cancel' %}
                                                    <div class="col-sm-8">
                                                    <a href="{% url 'accept' %}?action=1&id={{ order.id }}">
                                                        <!-- <button class="badge badge-success badge-pill">Accept</button> -->
                                                    <button style="background-color:mediumseagreen ;" >Accept</button>
                                                    </a>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <br>
                                                    <a href="{% url 'accept' %}?action=0&id={{ order.id }}">
                                                        <!-- <button class="badge badge-success badge-pill">Cancel</button> -->
                                                    <button style="background-color:red ;">Cancel</button>
                                                    </a>
                                                    </div>
                                                    {% elif order.status == 'Accepted' %}

                                                    &nbsp;&nbsp;&nbsp;&nbsp;<span style="color:green;">Accepted</span>

                                                    {% elif order.status == 'Order Cancel' %}

                                                    &nbsp;&nbsp;&nbsp;&nbsp;<span style="color:tomato;">Cancelled</span>

                                                    {% endif %}
                                                    {% endif %}
                                                
                                                </td>
                                                <td>
                                                    <!-- <a href="client_api/show_details/{{order.id}}">Show Details</a> -->
                                                    <a  href="showdetails/{{order.id}}" target="_blank">Show Details</a>
                                                </td>
                                            
                                            </tr>
                                            {% endfor %}
                                           
                                            
                                        </tbody>
                                    </table>
                                    <br>
                                   </div>
                                   
                                   </div>
                        </div> 
                    <br>
                    <br>
                    </div>
                            
                        
                        
                        <section class="mb-10 mt-100">
                            <div class="container">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="card bg1 text-white">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="mr-3">
                                                    <div data-toggle="modal" data-target="#modal-default5" onclick="" style="cursor:pointer;" class="text-lg font-weight-bold">Total Orders</div>
                                                </div>
                                               {{order_total.order_total__sum}}
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="card bg2 text-white">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="mr-3">
                                                    <div  class="text-lg font-weight-bold">Sales Value</div>
                                                </div>
                                                {{salesvalues.subtotal__sum}}
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="card bg3 text-white">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="mr-3">
                                                    <div data-toggle="modal" data-target="#modal-default4" onclick="" style="cursor:pointer;" class="text-lg font-weight-bold">Customer</div>
                                                </div>
                                                {{customers}}
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                
                            </div>
                            </div>
                        </section>

                        <div class="modal fade" id="modal-default">
                                            <div class="modal-dialog">
                                                <div class="modal-content" style="width:900px;">
                                                    <div class="modal-header">
                                                      <h4 class="modal-title">Completed Orders</h4>
                                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                      </button>
                                                    </div>
                                                    <div class="modal-body">
                                                      <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Order ID</th>
                                                <th>Order Date</th>
                                                <th>Customer</th>

                                                <th>Total Orders</th>
                                                <th>Payment Method</th>
                                                <th>Payment Status</th>
                                                <th>Order Status</th>

                                            </tr>
                                        </thead>

                                        <tbody>


                                           {% for order in completed_list %}
                                            <tr>
                                                <td>{{order.id}}</td>
                                                <td>{{order.order_id}}</td>
                                                <td>{{order.order_date}}</td>
                                                <td>{{order.user.username}}</td>

                                                <td>{{order.order_total}}</td>
                                                <td>{{order.payment_method}}</td>
                                                <td>{{order.payment_status}}</td>
                                                <td>{{ order.status }}</td>



                                            </tr>
                                            {% endfor %}


                                        </tbody>
                                    </table>
                                                    </div>

                                                    <div class="modal-footer ">
                                                      <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>

                                                    </div>



                                                </div>
                                              <!-- /.modal-content -->
                                            </div>
                                            <!-- /.modal-dialog -->
                                        </div>
    
                                    <div class="modal fade" id="modal-default1">
                                            <div class="modal-dialog">
                                                <div class="modal-content" style="width:900px;">
                                                    <div class="modal-header">
                                                      <h4 class="modal-title">Accepted Orders</h4>
                                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                      </button>
                                                    </div>
                                                    <div class="modal-body">
                                                      <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Order ID</th>
                                                <th>Order Date</th>
                                                <th>Customer</th>

                                                <th>Total Orders</th>
                                                <th>Payment Method</th>
                                                <th>Payment Status</th>
                                                <th>Order Status</th>

                                            </tr>
                                        </thead>

                                        <tbody>


                                           {% for order in accepted_list %}
                                            <tr>
                                                <td>{{order.id}}</td>
                                                <td>{{order.order_id}}</td>
                                                <td>{{order.order_date}}</td>
                                                <td>{{order.user.username}}</td>

                                                <td>{{order.order_total}}</td>
                                                <td>{{order.payment_method}}</td>
                                                <td>{{order.payment_status}}</td>
                                                <td>{{ order.status }}</td>



                                            </tr>
                                            {% endfor %}


                                        </tbody>
                                    </table>
                                                    </div>
                                                    <div class="modal-footer ">
                                                      <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>

                                                    </div>
                                                </div>
                                              <!-- /.modal-content -->
                                            </div>
                                            <!-- /.modal-dialog -->
                                        </div>
                                    <div class="modal fade" id="modal-default2">
                                            <div class="modal-dialog">
                                                <div class="modal-content" style="width:900px;">
                                                    <div class="modal-header">
                                                      <h4 class="modal-title">Out of Delivery</h4>
                                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                      </button>
                                                    </div>
                                                    <div class="modal-body">
                                                      <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Order ID</th>
                                                <th>Order Date</th>
                                                <th>Customer</th>

                                                <th>Total Orders</th>
                                                <th>Payment Method</th>
                                                <th>Payment Status</th>
                                                <th>Order Status</th>

                                            </tr>
                                        </thead>

                                        <tbody>


                                           {% for order in out_of_delivery_list %}
                                            <tr>
                                                <td>{{order.id}}</td>
                                                <td>{{order.order_id}}</td>
                                                <td>{{order.order_date}}</td>
                                                <td>{{order.user.username}}</td>

                                                <td>{{order.order_total}}</td>
                                                <td>{{order.payment_method}}</td>
                                                <td>{{order.payment_status}}</td>
                                                <td>{{ order.status }}</td>



                                            </tr>
                                            {% endfor %}


                                        </tbody>
                                    </table>
                                                    </div>
                                                    <div class="modal-footer ">
                                                      <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>

                                                    </div>
                                                </div>
                                              <!-- /.modal-content -->
                                            </div>
                                            <!-- /.modal-dialog -->
                                        </div>
                        <div class="modal fade" id="modal-default3">
                                            <div class="modal-dialog">
                                                <div class="modal-content" style="width:900px;">
                                                    <div class="modal-header">
                                                      <h4 class="modal-title">Cancelled</h4>
                                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                      </button>
                                                    </div>
                                                    <div class="modal-body">
                                                      <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Order ID</th>
                                                <th>Order Date</th>
                                                <th>Customer</th>

                                                <th>Total Orders</th>
                                                <th>Payment Method</th>
                                                <th>Payment Status</th>
                                                <th>Order Status</th>

                                            </tr>
                                        </thead>

                                        <tbody>


                                           {% for order in order_cancel_list %}
                                            <tr>
                                                
                                                <td>{{order.id}}</td>
                                                <td>{{order.order_id}}</td>
                                                <td>{{order.order_date}}</td>
                                                <td>{{order.user.username}}</td>

                                                <td>{{order.order_total}}</td>
                                                <td>{{order.payment_method}}</td>
                                                <td>{{order.payment_status}}</td>
                                                <td>{{ order.status }}</td>



                                            </tr>
                                            {% endfor %}


                                        </tbody>
                                    </table>
                                                    </div>
                                                    <div class="modal-footer ">
                                                      <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>

                                                    </div>
                                                </div>
                                              <!-- /.modal-content -->
                                            </div>
                                            <!-- /.modal-dialog -->
                                        </div>
                        <div class="modal fade" id="modal-default4">
                                            <div class="modal-dialog">
                                                <div class="modal-content" style="width:900px;">
                                                    <div class="modal-header">
                                                      <h4 class="modal-title">Customers</h4>
                                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                      </button>
                                                    </div>
                                                    <div class="modal-body">
                                                      <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Name</th>
                                                <th>Phone Number</th>
                                                <th>Address</th>
                                                <th>Email Id</th>
                                                <th>City</th>


                                            </tr>
                                        </thead>

                                        <tbody>


                                           {% for customer in customer_list %}
                                            <tr>
                                                <td>{{customer.id}}</td>
                                                <td>{{customer.username}}</td>
                                                <td>{{customer.phone}}</td>
                                                <td>{{customer.address}}</td>
                                                <td>{{customer.email}}</td>
                                                <td>{{customer.city}}</td>



                                            </tr>
                                            {% endfor %}


                                        </tbody>
                                    </table>
                                                    </div>
                                                    <div class="modal-footer ">
                                                      <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>

                                                    </div>
                                                </div>
                                              <!-- /.modal-content -->
                                            </div>
                                            <!-- /.modal-dialog -->
                                        </div>
                            {% comment %} <div class="row">
                            
                            <div class="col-xl-12 mb-4">
                                <div class="card card-header-actions h-100">
                                    <div class="card-header">
                                        Sales Report
                                        
                                    </div>
                                    <div class="card-body">
                                        <center><h3>SALES REPORT, 2020</h3></center>
                                        <div class="chart-bar"><canvas id="myBarChart" width="100%" height="30"></canvas></div>
                                        <center>
                                            <ul class="barcha">
                                                <li>
                                                    <ul>
                                                        <li><div class="box1"></div></li>
                                                        <li>Pending</li>
                                                    </ul></li>
                                                <li> <ul>
                                                    <li><div class="box2"></div></li>
                                                    <li>Accept</li>
                                                </ul></li>
                                                <li> <ul>
                                                    <li><div class="box3"></div></li>
                                                    <li>Delivered</li>
                                                </ul></li>
                                            </ul>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div> {% endcomment %}
                        <!-- <script> function myFunction(buttonid){
                            document.getElementById(buttonid).innerHTML="Accepted";
                            }
                            cancelFunction(cancelid)
                            {
                            document.getElementById(cancelid).innerHTML="Cancelled";}
                        </script> -->
                    </div>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
                    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" defer></script>
                    <script>
                        $(document).ready(function () {
                            $('#table1').DataTable({
                                "lengthChange": false,
                                "pageLength": 10,
                                "ordering":false,
                                "searching":false,
                            });
                        });
                    </script> 
    
                </main>
                {% endblock %}