               
{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .star{
       color:red;
       
    }
    .col1 {
      column-count: 3;
      column-gap: 80px;
    }
</style>

                <main class="mt-100 mb-100">
                   <div class="container">
                    <h1>PUSH NOTIFICATIONS</h1>
                   </div>
                   
                
                    <div class="container mt-100 mb-100">
                       
                    
                      
                      


                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        <h5>PUSH NOTIFICATIONS</h5>
                                    <form method="POST" action="{% url 'SMSNotification' %}">{% csrf_token %}
                                        <div class="col1">
                                            <div class="col-md-1">
                                            <label for="exampleFormControlInput1">From</label>
                                            <input class="" id="exampleFormControlInput1" type="email" name='From' >
                                            </div>
                                            <div class="col-md-5">
                                            <label for="exampleFormControlInput1">Host</label>
                                            <input class="" id="exampleFormControlInput1" type="text"  name='Host' >
                                            </div>
                                            <div class="col-md-2">
                                            <label for="exampleFormControlInput1">Port</label>
                                            <input class="" id="exampleFormControlInput1" type="number"  name='Port' >
                                            </div>
                                       </div>  
                                       <br>  
                                       <div class="col1">
                                        <div class="col-md-9">
                                        <label for="exampleFormControlInput1">Username</label>
                                        <input class="" id="exampleFormControlInput1" type="text" name='Username' >
                                        </div>
                                        <div class="col-md-5">
                                        <label for="exampleFormControlInput1">Password</label>
                                        <input class="" id="exampleFormControlInput1" type="text"  name='Password' >
                                        </div>
                                        <div class="col-md-2">
                                        <label for="exampleFormControlInput1">Subject</label>
                                        <input class="" id="exampleFormControlInput1" type="text"  name='Subject' >
                                        </div>
                                        <br>
                                        </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1"><span>Body<sup class="star">*</sup> </span></label>
                                                <textarea  class="form-control" id="exampleFormControlInput1" type="textarea"  name='product_description' required></textarea>
                                            </div>
                                        <button class="btn btn-primary" type="submit">Add</button>

                                    </div>
                                </div>
                            </div>
                        </form>
                           
                          
                                                     
                                                 
                        </div>
                    </div>
                </main>
               
 {% endblock %}