{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .star{
       color:red;
       
    }
    .col2 {
        column-count: 3;
        column-gap: 50px;
       
      
    }
    .col3 {
        column-count: 4;
        
       
      
    }
    .col4 {
        column-count: 2;
        
       
      
    }
    .img1
    {
     position: relative;
     padding-left: 10px;
    }
</style>

                <main class="mt-100 mb-100">
                   <div class="container">
                    <h1>Category</h1>
                    <a href= "{% url 'categorylist' %}"><button class="btn btn-primary" type="submit">Category List</button></a>
                   </div>
                   
                
                    <div class="container mt-100 mb-100">
                  

                        <div class="row">
                            
                            <div class="col-md-12">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        <h5>UPDATE CATEGORY</h5>
                                        {% for i in category %}
                                        <form method="POST" action="{% url 'update_category'%}" enctype="multipart/form-data">{% csrf_token %}
                                        
                                        <div class="col2">
                                            <div class="col-md-5">
                                            <label for="exampleFormControlInput1">Category Parent</label>
                                            <select  id="exampleFormControlSelect1" name='parent' >
                                               <option value="None" >Select Parent</option>
                                                {% for j in categorys %}
                                                <option value="{{j.id}}" {% if j.id == i.parent.id %} selected {% endif %}>{{j.category_name}}</option>
                                               {% endfor %}
                                                </select>
                                            </div>
                                             <div class="col-md-5">
                                            <label for="exampleFormControlInput1"><span>Category Name<sup class="star">*</sup> </span></label>
                                            <input  id="exampleFormControlInput1" type="text" name='category_name' value="{{i.category_name}}">
                                            </div>
                                            <div>
                                           <input type="hidden" name="catid" value="{{i.id}}">
                                           </div>
                                           <div class="col-md-5">
                                           <label for="exampleFormControlInput1">Category Slug</label>
                                           <input  id="exampleFormControlInput1" type="text"  name='category_slug' name="{{i.category_slug.url}}" >
                                           </div>
                                        </div>
                                        <br>
                                        <div class="col-md-11">
                                            <label for="exampleFormControlInput1">Category Description</label>
                                            <textarea class="form-control" id="exampleFormControlInput1" type="textarea"  name='category_description' >{{i.category_description}}</textarea>
                                        </div>
                                        <br>
                                        <div class="col2">
                                            <div class="col-xl-6">
                                            <label for="exampleFormControlSelect1">Product Variations</label>
                                            <select  id="exampleFormControlSelect1" name='preference'   onchange="getOption(this)" multiple>
                                                {% for i in product_variations %}
                                                        <option value="{{i.id}}" {% if i.id in pv1 %} selected {% endif %}> {{i.variation_name}}</option>
                                                {% endfor %}
                                            </select>
                                            </div>
                                            <div class="col-xl-4">
                                            <label for="exampleFormControlInput1">Variance </label>
                                            <select  id="selectCity" name="variance"  multiple >
                                                {% for i in product_variations_name %}
                                                        <option value="{{i.id}}" {% if i.id in pvn1 %} selected {% endif %}> {{i.variationOptionName}}</option>
                                                {% endfor %}                                    
                                              </select>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="col2">
                                            <div class="col-xl-5">
                                            <label for="exampleFormControlInput1">Category Image{% if i.category_image  %}<img src = "{{ i.category_image.url }}" alt="" style="max-width: 40px; max-height: 40px; width: 50%;">{% else %}<img src = "{{ i.category_image }}" alt="" style="max-width: 40px; max-height: 40px; width: 50%;">{% endif %}</label>
                                            <div class="custom-file">
                                            <input   type="file"  name='category_image' onchange="readURL(this)" value="{{i.category_image}}">
                                            </div>
                                            
                                            </div>
                                            
                                                <div class="col-xl-6">
                                                    <label for="exampleFormControlInput1">Category Icon Image{% if i.icon_image  %}<img src = "{{ i.icon_image.url }}" alt="" style="max-width: 40px; max-height: 40px; width: 50%;">{% else %}<img src = "{{ i.icon_image }}" alt="" style="max-width: 40px; max-height: 40px; width: 50%;">{% endif %}</label>
                                                    <div class="custom-file">
                                                    <input   type="file"  name='icon_image' onchange="readURL(this)" value="{{i.icon_image}}">
                                                </div>
                                                
                                                </div>
                                            </div>
                                       
                                        <br>
                                      <br>
                                   <input type ="hidden" name="catid" value="{{i.id}}">
                                        
                                        <button class="btn btn-primary" type="submit">Update</button>
                                       
                                    </div>
                                </div>
                            </div>
                        </form>
                        {% endfor %}
                           
                        
                        </div>
                    </div>
                    <script type="text/javascript">
                        function getOption(sel) {
                                var opts = [],
                                    opt;
                                var len = sel.options.length;
                                for (var i = 0; i < len; i++) {
                                    opt = sel.options[i];

                                    if (opt.selected) {
                                    var k= opt.value;
                                    opts.push(k);

                                    }
                                }
                                var j=opts;
                                console.log(j)
                                // return opts;
                                x = new XMLHttpRequest;
                                x.open('GET','?load-options='+j);
                                x.send();
                                
                                x.onreadystatechange = function() {
                                    if (this.readyState == 4 && this.status == 200) {
                                        var c = document.getElementById('selectCity');
                                        c.innerHTML = x.response;
                                    }
                              
                                };
                                
                                }
                    </script>
                </main>
               
 {% endblock %}