{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .main{
        padding-top: 20px;
        padding-left: 50px;
    }
    .form{
        width: 90%;
    }
    .img{
        padding-left: 6px;
    }
    .col2 {
      column-count: 2;
      column-gap: 50px;
    }
    .star{
       color:red;
       
    }
</style>
<div class="container mt-100 mb-100">
  <div class="row">

  <div class="col-md-8">
    <div class="card">
        
        <div class="card-body">
    <h1>Company Details</h1>
    <br>
    
    <form action="{% url 'addOrganization' %}" method="POST" enctype="multipart/form-data" class="form">
        {% csrf_token %}
      <div class="col2">
        <div class="col-md-8">
          <label for="exampleFormControlInput1">Company Name</label>
          <input class="form-sub-label-container" id="exampleFormControlInput1" type="text" name='name' >
        </div>
        <div class="col-md-7 ">
          <label for="exampleFormControlInput1">Contact Info</label>
          <input class="form-sub-label-container" id="exampleFormControlInput1" onkeypress="return event.charCode >= 48" min="0" type="number" name='phone' >
        </div>
      </div>
      <br>
      <div class="col2">
        <div class="col-md-7">
        <label for="exampleFormControlInput1">Address</label>
        <textarea class="" id="exampleFormControlInput1" type="textarea"  name='address' ></textarea>
        </div>

        <div class="col-md-18">

        <label for="image"></label>
        <div class="input-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="image" onchange="readURL(this);" required>
            <label class="custom-file-label" for="image"><span>Add Brand Logo<sup class="star">*</sup> </span></label>
          </div>
          <div class="img">
            <img id="im" src="" >
          </div>
        </div>
    
        </div>
      </div>
    
    
    <br>
        
        <button type="submit" class="btn btn-primary mr-2">Add</button>
    
  </form>
        
  {% if users.has_other_pages %}
  <ul class="pagination">
    {% if users.has_previous %}
      <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in users.paginator.page_range %}
      {% if users.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if users.has_next %}
      <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</div>
</div>
</div>
</div>
</div>
</div>
<script>
  function readURL(input) {
      if (input.files && input.files[0]) {
          var reader = new FileReader();

          reader.onload = function (e) {
              $('#im')
                  .attr('src', e.target.result)
                  .width(90)
                  .height(90);
          };

          reader.readAsDataURL(input.files[0]);
      }
  }
</script> 

{% endblock %}