{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
        .star{
       color:red;
       
    }
       .row {
        padding-top: 15px;
        padding-bottom:15 ;
        
        
    }

    .img {
        
        position:relative;
        top: 25px;
        
        width: 530px;
        height: 200px;
        
    }

    .col2 {
        column-count: 3;
        column-gap: 30px;


    }
    .col3 {
        column-count: 2;
        


    }
</style>

                <main class="mt-100 mb-100">
                   <div class="container">
                    <h1>Add Mobile Banner Details</h1> 
                    <a href= "{% url 'listMobilebanners' %}"><button class="btn btn-primary" type="submit">Banner List</button></a>
                    
                   
                        <div class="row">
                            
                            <div class="col-xl-9">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        <h5>Add Details</h5>
                                        <form method="POST" action="#" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="col2">
                                                <div class="col-xl-8">
                                                <label for="exampleFormControlSelect1" ><span>Banner Name<sup class="star">*</sup> </span></label>
                                                <select class="" id="exampleFormControlSelect1" name='b_name' required>
                                                <option>Select Mobile Banner</option>
                                                <option {% if "Mobile_Banner1_Slider1" in cat_name %}hidden {% endif %}>Mobile_Banner1_Slider1</option>
                                                <option {% if "Mobile_Banner1_Slider2" in cat_name %}hidden {% endif %}>Mobile_Banner1_Slider2</option>
                                                <option {% if "Mobile_Banner1_Slider3" in cat_name %}hidden {% endif %}>Mobile_Banner1_Slider3</option>
                                                <option {% if "Mobile_Banner2" in cat_name %}hidden {% endif %}>Mobile_Banner2</option>
                                                <option {% if "Mobile_Banner3" in cat_name %}hidden {% endif %}>Mobile_Banner3</option>
                                                <option {% if "Mobile_Banner4" in cat_name %}hidden {% endif %}>Mobile_Banner4</option>
                                                <option {% if "Mobile_Banner5" in cat_name %}hidden {% endif %}>Mobile_Banner5</option>
                                                <option {% if "Mobile_Banner6" in cat_name %}hidden {% endif %}>Mobile_Banner6</option>
                                                <option {% if "Mobile_Banner7" in cat_name %}hidden {% endif %}>Mobile_Banner7</option>
                                                <option {% if "Mobile_Banner8" in cat_name %}hidden {% endif %}>Mobile_Banner8</option>
                                                <option {% if "Mobile_Banner9" in cat_name %}hidden {% endif %}>Mobile_Banner9</option>
                                                </select>
                                                </div>
                                                <div class="col-xl-7">
                                                <label for="exampleFormControlSelect1"><span>Select Parent<sup class="star">*</sup> </span></label>
                                                <select id="exampleFormControlSelect1"  onchange="getResult(this.value,'selectCity')" required>
                                                    
                                                    <option>--------select--------</optin>
                                                    <option value="1"> Category</option>
                                                    <option value="2">Subcategory</option>
                                                    
                                                    
                                                </select>
                                                </div>
            
            
                                           
                                                <div class="col-xl-3">
                                                <label for="exampleFormControlInput1">Category/Subcategory </label>
                                                
                                                <select id="selectCity" name='cp'   >
                                                    <option value="0">---select-------</option>
                                                    <option value="0">---select-------</option>
                                        
                                                  </select>
                                                </div>
                                            </div>
            
                                        <br>
                                        <br>
                                        <br>
                                        <div class="col3">
                                            <div class="col-xl-11">
                                            <label for="exampleFormControlSelect1"><span>Banner Image<sup class="star">*</sup> </span></label>
                                            <label for="image"></label>
                                            <div class="input-group">
            
                                                <div class="">
                                                    <input type="file"  name="image"
                                                        onchange="readURL(this);" required>
            
                                                    <!-- <label class="custom-file-label" for="image">Choose Image</label> -->
            
            
                                                </div>
                                                
                                                <div class="img">
                                                    <img id="im"  src="" >
                                                </div>
                                                
            
                                            </div>
                                            </div>
                                        
                                        </div>
                                        <br>
                                        <br>
                                        <br>
                                        <button class="btn btn-primary" type="submit">Submit</button>
                                    
                                    </form>
                                </div>
                            
                            </div>
                        </div>
            
                    </div>
                </div>
                </main>            
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#im')
                    .attr('src', e.target.result)
                    .width(125)
                    .height(125);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
<script type="text/javascript">
    function getResult(value,eleId) {
        var searchValue = value
        console.log(searchValue)
        x = new XMLHttpRequest;

        x.open('GET', '?s=' + searchValue);
        x.send();

        x.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var c = document.getElementById(eleId);
                c.innerHTML = x.response;
                console.log(c)
            }

        }

    }


</script>             
 {% endblock %}