{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
     .star{
       color:red;
       
    }
    .row {
        
        padding-top: 15px;
        padding-bottom:15 ;
        
    }

    .img {
        
        position:relative;
        
        bottom:100px;
        left: 230px;
        width: 550px;
        height: 200px;
        
    }

    .col2 {
        column-count: 3;
        column-gap: 30px;


    }
    .col3 {
        column-count: 2;
        column-gap: 200px;


    }
</style>

                <main class="mt-100 mb-100">
                   <div class="container">
                    <h1>Update Web Banner Details</h1> 
                    <a href= "{% url 'listWebbanners' %}"><button class="btn btn-primary" type="submit">Banner List</button></a>
                    
                   

                        <div class="row">
                            
                            <div class="col-md-10">
                                <div class="card">
                                    
                                    <div class="card-body">
                                        <h5>Update Details</h5>
                                        {% for i in category %}
                                        <form method="POST" action="{% url 'update_banner' %}" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="col2">
                                                <div class="col-xl-8">
                                            
                                           
                                                <label for="exampleFormControlSelect1" ><span>Banner Name<sup class="star">*</sup> </span></label>
                                                <select class="form-control" id="exampleFormControlSelect1" name='b_name' >
                                                <option selected hidden>Select Banner Name</option>
                                                  <option {% if i.category_name == 'Banner1_Slider1'%} selected {% endif %} >Banner1_Slider1</option>
                                                  <option {% if i.category_name == 'Banner1_Slider2'%} selected {% endif %} >Banner1_Slider2</option>
                                                  <option {% if i.category_name == 'Banner1_Slider3'%} selected {% endif %} >Banner1_Slider3</option>
                                                  <option {% if i.category_name == 'Banner2'%} selected {% endif %} >Banner2</option>
                                                  <option {% if i.category_name == 'Banner3'%} selected  {% endif %}>Banner3</option>
                                                  <option {% if i.category_name == 'Banner4'%} selected {% endif %} >Banner4</option>
                                                  <option {% if i.category_name == 'Banner5'%} selected {% endif %} >Banner5</option>
                                                   <option {% if i.category_name == 'Banner6'%} selected {% endif %} >Banner6</option>
                                                    <option {% if i.category_name == 'Banner7'%} selected {% endif %} >Banner7</option>
                                                     <option {% if i.category_name == 'Banner8'%} selected {% endif %} >Banner8</option>
                                                      <option {% if i.category_name == 'Banner9'%} selected {% endif %} >Banner9</option>
                                                </select>
                                               
                                                </div>
                                                    <div class="col-xl-7">
                                                    <label for="exampleFormControlSelect1"><span>Select Parent<sup class="star">*</sup> </span></label>
                                                    <select id="exampleFormControlSelect1"  onchange="getResult(this.value,'selectCity')" required>
                                                        
                                                        <option>--------select--------</optin>
                                                        <option value="1" {% if c == 1 %} selected {% endif %}> Category</option>
                                                        <option value="2" {% if c == 2 %} selected {% endif %}>Subcategory</option>
                                                        
                                                    </select>
                                                    </div>
                                                    <div class="col-xl-3">
                                                    <label for="exampleFormControlInput1">Category/Subcategory</label>
                                                    
                                                    <select id="selectCity" name='cp' required >
                                                        <option>-----------select--------------</option>
                                                        {% for  i in categorys %}
                                                        <option  value={{i.id}} {%if i.id == pr %}selected{% endif %}>{{i.category_name}}</option>
                                                        {% endfor %}
                                                      </select>
                                                    </div>
                                                </div>
                                                <br>
                                                <br>
                                                <br>
                                                <div class="">
                                                    <div class="col-xl-5">
                
                                                   <label for="exampleFormControlSelect1"><span>Banner Image<sup class="star">*</sup> </span>
                                                    <!-- {% if i.category_image  %}<img src = "{{ i.category_image.url }}" alt="" style="max-width: 40px; max-height: 40px; width: 50%;">{% else %}<img src = "{{ i.category_image }}" alt="" style="max-width: 40px; max-height: 40px; width: 50%;">{% endif %} -->
                                                   </label>
                                                   <label for="image"></label>
                                                   <div class="input-group">
                                                  
                                                    <div class="custom-file">
                                                        <input   type="file"  name='category_image' onchange="readURL(this)" value="{{i.category_image}}">
                                                        <img src = "{{ i.category_image.url }}" alt="" style="max-width: 50px; max-height: 50px; width: 50%;">
                                                    
                                                    
                                                  </div>
                                                  <div class="img">
                                                    <img   id="im" src ="">
                                                </div>
                                    

                                            </div>
                                            </div>
                                        
                                        </div>
                                        
                                        
                                           <input type="hidden" value="{{i.id}}" name="bannerid" >
                                            <button class="= btn-primary" type="submit">Update</button>
                                           
                                        </form>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                           
                                                  
                        </div>
                    </div>
                    
                </main>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#im')
                    .attr('src', e.target.result)
                    .width(75)
                    .height(75);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>      
<script type="text/javascript">
    function getResult(value,eleId) {
        var searchValue = value
        console.log(searchValue)
        x = new XMLHttpRequest;

        x.open('GET', '?s=' + searchValue);
        x.send();

        x.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var c = document.getElementById(eleId);
                c.innerHTML = x.response;
                console.log(c)
            }

        }

    }


</script>
</script>       
 {% endblock %}