{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .main{
        padding-top: 20px;
        padding-left: 50px;
        padding-bottom: 100px;
    }
    .form{
        width: 90%;
    }
    .img{
        padding-left: 6px;
    }
    .col2 {
      column-count: 2;
      column-gap: 50px;
    }
    .col3 {
      column-count: 3;
      column-gap: 5px;
    }
    .star{
       color:red;
       
    }
</style>

<div class="container mt-100 mb-100">
   
<div class="container"> 
  <h1>Update Organizations Details</h1>

    <a href= "{% url 'listOrganization' %}"><button class="btn btn-primary" type="submit">Organizations List</button></a> 
    
  <div class="row">
    
  <div class="col-md-11">
    <br>
    <div class="card">
       
    <div class="card-body">
          
    <h1>Update Details</h1>
    
    
    <form action="{% url 'updateorganization' orgid=org.id %}" method="POST" enctype="multipart/form-data" class="form">
      {% csrf_token%}
         
      <div class="col2">
        <div class="col-md-8">
          <label for="exampleFormControlInput1">Company Name</label>
          <input class="form-sub-label-container" id="exampleFormControlInput1" type="text" name='name'value={{org.company_name}} >
        </div>
        <div class="col-md-7 ">
          <label for="exampleFormControlInput1">Contact Info</label>
          <input class="" id="exampleFormControlInput1" onkeypress="return event.charCode >= 48" min="0" type="number" name='phone' value={{org.phone}}>
        </div>
      </div>
      <br>
      <br>
      <div class="col2">
        <div class="col-md-10">
        <label for="exampleFormControlInput1">Address</label>
        <input class="form-control" id="exampleFormControlInput1" type="textarea"  name='address' value={{org.address}}>
        </div>

        <div class="col-md-11">
          
        <label for="image"></label>
        <div class="input-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="image" value={{org.icon_image}} onchange="readURL(this);" required>
            <label class="custom-file-label" for="image"><span>Add Brand Logo<sup class="star">*</sup> </span></label>
          </div>
          <div class="img">
            <img id="im" src="/media/{{org.icon_image}}" alt="" style="max-width: 150px; max-height: 150px; width:100%; padding-top:5px;">
          </div>
        </div>
    
        </div>
      </div>
    </div>
    
    
    <div class="col-md-2">
    <input type ="hidden" name="uporgid" value="{{i.id}}">
    <button class="btn btn-primary" type="submit">Update</button>
     <br>
    </div>
       
  </form>
    
 

</div>
<br>
</div>


</div>
</div>
</div>
<script>
  function readURL(input) {
      if (input.files && input.files[0]) {
          var reader = new FileReader();

          reader.onload = function (e) {
              $('#im')
                  .attr('src', e.target.result)
                  .width(90)
                  .height(90);
          };

          reader.readAsDataURL(input.files[0]);
      }
  }
</script> 

{% endblock %}