{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .previous{
        padding: 10px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 20px;
    }
    .paginate_button{
        padding: 10px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    }
    .next{
        padding: 10px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 20px;
    }
   .dataTables_paginate{
        margin-bottom: 10px !important;
    }
    .paging_simple_numbers{
        margin-top: -25px !important;
    }
</style>

<style>
    
    .reset{
        padding-right: 10px;
        padding-top: 10px;
        
        position:absolute;
   top: 0;
   right:0;
    }
    .sbtn{
        padding-top: 10px;
    }
    .btns{
        backface-visibility: hidden;
        border: hidden;
    }
    .page{
        float: right;
    }
    .button{
        border: hidden;
        backface-visibility: hidden;
        color: #fff;
    background-color: #0061f2;
    border-color: #0061f2;
    cursor: pointer;
    border-radius: 0.35rem;
        
    }
    
    
</style>
                <main class="mt-100 mb-100">
                   <div class="container">
                    <h1>Banner</h1>
                    <a href= "{% url 'addWebbanner' %}"><button class="btn btn-primary" type="submit">Add Web Banner</button></a>
                   </div>                
                    <div class="container mt-100 mb-100">                    
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <h5>Banner List</h5>
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="table-responsive">
                                                    <table id="table1">
                                                        <thead>
                                                            <tr>
                                                                <th>Banner id</th>
                                                                <th>Banner Name</th>
                                                               <th> Link Banner </th>
                                                               
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="searchResult">
                                                            {% for i in webbanners %}
                                                
                                                    <tr>
                                                      <td>{{i.id}}</td>
                                                        <td>{{i.category_name}}</td>
                                                       <td>{{i.parent.category_name}}</td>
                                                          <td>
                                                            <button class="btns"><a href="{% url 'updateWebbanner' i.id %}"><i class="far fa-edit" type="submit"></i></button>
                                                          <button class="btns"><a  href="{% url 'listWebbanners' %}?delete=True #modal-default "data-toggle="modal" data-target="#modal-default" onclick="addId({{i.id}});"><i class="far fa-trash-alt" title="Delete"></i></a></button> 
                                                        </td>
                                                    {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        <div class="modal fade" id="modal-default">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                      <h4 class="modal-title">Delete Banner ?</h4>
                                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                      </button>
                                                    </div>
                                                    <div class="modal-body">
                                                      <p>Are you sure you want to delete the Banner?</p>
                                                    </div>
                                                    <div class="modal-footer ">
                                                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                      <form action="{% url 'listWebbanners' %}?delete=True" method="POST" >
                                                        {% csrf_token %}
                                                        <input type="number" name="bannerid" id="productDel" hidden>
                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                                      </form>
                                                    </div>
                                                </div>
                                              <!-- /.modal-content -->
                                            </div>
                                            <!-- /.modal-dialog -->
                                        </div>
                                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
                                        <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" defer></script>
                                        <script>
                                            $(document).ready(function () {
                                                $('#table1').DataTable({
                                                    "lengthChange": false,
                                                    "pageLength": 10,
                                                    "ordering":false
                                                });
                                            });
                                        </script> 
                                        <script>
                                             function addId(id){
                                                document.getElementById('productDel').value = id
                                            }
                                        </script>
                                    </main>
                                    {% endblock %}